@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.ViewModels.EditStorageLocationModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Placerings Administration";
}

<!--Variables to be used with JavaScripts and C#-->
@{string tempData = ViewBag.alert;}
@{string deleteBuildingAndRoomFeedback = ViewBag.deleteBuildingAndRoomFeedback;}
@{string deleteLocationFeedback = ViewBag.deleteLocationFeedback;}
@{string selectedID = ViewBag.selectedID;}
@{string buildingNameFeedBack = ViewBag.buildingNameFeedBack;}
@{string roomNumberFeedBack = ViewBag.roomNumberFeedBack;}
@{string roomFeedBack = ViewBag.roomFeedBack;}
@{string shelfNameFeedBack = ViewBag.shelfNameFeedBack;}
@{string shelfLevelFeedBack = ViewBag.shelfLevelFeedBack;}
@{string shelfSpotFeedBack = ViewBag.shelfSpotFeedBack;}
@{string storageLocationFeedBack = ViewBag.storageLocationFeedBack;}


<!--javaScript inclusion-->
<script src="~/js/locationAdministration.js"></script>
<script src="~/js/site.js"></script>




<script>
    $(document).ready(function () {
        scrollToDiv('@deleteBuildingAndRoomFeedback', '@deleteLocationFeedback', '@selectedID');
        });
</script>




<script>
    alertFunction('@tempData');
</script>



<!--Blue Oister Bar with search fields-->
<form asp-action="LocationAdminResult" method="post" id="listStorageLocations">
    <input id="hiddenInputFieldID" type="hidden" asp-for="@Model.HiddenFieldID" />
    <div class="row blue-oyster-bar center box-shadow">
        <div class=" col">
            <div class="row">

                <div class="col-xl-1">
                </div>
                <div class="col-xl-2 col-sm-4 g-3">
                    <div class="form-floating">
                        <input class="form-select capitalized " id="buildingDropDown" list="buildings" aria-label="Vælg Bygning" pattern="[A-Za-z0-9æøåÆØÅ]{0,50}" title="Bogstaver og tal og max. 50 karakterer" maxlength="50" asp-for="@Model.StorageLocation.Location.Building" onkeyup="SetTimeout(); returnToInputField();" onkeydown="clearTimeout()">
                        <datalist id="buildings">
                            @foreach (var item in Model.Buildings)
                            {
                                <option>@item</option>
                            }
                        </datalist>
                        <label for="floatingSelectGrid">Bygning:</label>
                    </div>
                    @try
                    {
                        @if (buildingNameFeedBack != null)
                        {
                            if (buildingNameFeedBack.Contains("allerede") == true)
                            {
                                <div class="fadeUp text-red">@buildingNameFeedBack</div>
                            }
                            else
                            {
                                <div class="fadeUp text-white">@buildingNameFeedBack</div>
                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                </div>
                <div class="col-xl-2 col-sm-4 g-3">
                    <div class="form-floating">
                        <input class="form-select capitalized" id="roomNumberDropDown" list="roomNumbers" aria-label="Vælg lokalenummer" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.StorageLocation.Location.RoomNumber" onkeyup="SetTimeout(); returnToInputField();" onkeydown="clearTimeout()">
                        <datalist id="roomNumbers">
                            @foreach (var item in Model.RoomNumbers)
                            {
                                <option>@item</option>
                            }
                        </datalist>
                        <label for="floatingSelectGrid">Lokale Nr:</label>
                    </div>
                    @try
                    {
                        @if (roomNumberFeedBack != null)
                        {
                            if (roomNumberFeedBack.Contains("allerede") == true)
                            {
                                <div class="fadeUp text-red">@roomNumberFeedBack</div>
                            }
                            else
                            {
                                <div class="fadeUp text-white">@roomNumberFeedBack</div>
                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                </div>
                <div class="col-xl-2 col-sm-4 g-3">
                    <div class="form-floating">
                        <input class="form-select capitalized" id="shelfNameDropDown" list="shelfNames" aria-label="Vælg ReolNavn" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.StorageLocation.ShelfName" onkeyup="SetTimeout(); returnToInputField();" onkeydown="clearTimeout()">
                        <datalist id="shelfNames">
                            @foreach (var item in Model.ShelfNames)
                            {
                                <option>@item</option>
                            }
                        </datalist>
                        <label for="floatingSelectGrid">Reol navn:</label>
                    </div>
                    @try
                    {
                        @if (shelfNameFeedBack != null)
                        {
                            if (shelfNameFeedBack.Contains("allerede") == true)
                            {
                                <div class="fadeUp text-red">@shelfNameFeedBack</div>
                            }
                            else
                            {
                                <div class="fadeUp text-white">@shelfNameFeedBack</div>
                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                </div>
                <div class="col-xl-2 col-sm-6 g-3">
                    <div class="form-floating">
                        <input class="form-select capitalized" id="shelfLevelDropDown" list="shelfLevels" aria-label="Vælg Etage" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.StorageLocation.ShelfLevel" onkeyup="SetTimeout(); returnToInputField();" onkeydown="clearTimeout()">
                        <datalist id="shelfLevels">
                            @foreach (var item in Model.ShelfLevels)
                            {
                                <option>@item</option>
                            }
                        </datalist>
                        <label for="floatingSelectGrid">Reol Etage:</label>
                    </div>
                    @try
                    {
                        @if (shelfLevelFeedBack != null)
                        {
                            if (shelfLevelFeedBack.Contains("allerede") == true)
                            {
                                <div class="fadeUp text-red">@shelfLevelFeedBack</div>
                            }
                            else
                            {
                                <div class="fadeUp text-white">@shelfLevelFeedBack</div>
                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                </div>
                <div class="col-xl-2 col-sm-6 g-3">
                    <div class="form-floating">
                        <input class="form-select capitalized" id="shelfSpotDropDown" list="shelfSpots" aria-label="Vælg Hyldeplads" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.StorageLocation.ShelfSpot" onkeyup="SetTimeout(); returnToInputField();" onkeydown="clearTimeout()">
                        <datalist id="shelfSpots">
                            @foreach (var item in Model.ShelfSpots)
                            {
                                <option>@item</option>
                            }
                        </datalist>
                        <label for="floatingSelectGrid">Hyldeplads:</label>
                    </div>
                    @try
                    {
                        @if (shelfSpotFeedBack != null)
                        {
                            if (shelfSpotFeedBack.Contains("allerede") == true)
                            {
                                <div class="fadeUp text-red">@shelfSpotFeedBack</div>
                            }
                            else
                            {
                                <div class="fadeUp text-white">@shelfSpotFeedBack</div>
                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                </div>
                <div class="col-xl-1">
                </div>
            </div>





            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 g-3">
                    @try
                    {
                        @if (roomFeedBack != null)
                        {

                            if (roomFeedBack.Contains("allerede") == true)
                            {
                                <div class="fadeUp text-red" id="feedback1">
                                    @roomFeedBack
                                </div>
                            }
                            else
                            {
                                <div class="fadeUp text-white" id="feedback1">
                                    @roomFeedBack
                                </div>

                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                </div>


                @{string toolTip = "\nAlle felter kan oprettes enkeltvis, hvis ikke de findes i forvejen. \n\n" +
                                                                                                                      "Hvis Bygning og Lokale er udfyldt samtidigt kan der \n" +
                                                                                                                      "oprettes et Lokale, hvis ikke det eksisterer i forvejen.\n\n" +
                                                                                                                      "Hvis alle felter er udfyldt, kan der oprettes en vareplacering,\n" +
                                                                                                                      "hvis denne ikke findes i forvejen.\n"; }
                <div class="col-sm-2 p-3">
                    <button type="submit" class="btn btn-primary btn-blue black-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@toolTip" asp-action="CreateLocation">Tilføj Placering</button>

                </div>


                <div class="col-sm-4 g-3">

                    @try
                    {
                        @if (storageLocationFeedBack != null)
                        {
                            if (storageLocationFeedBack.Contains("allerede") == true)
                            {
                                <div class="fadeUp text-red" id="feedback2">
                                    @storageLocationFeedBack
                                </div>
                            }
                            else
                            {
                                <div class="fadeUp text-white" id="feedback2">
                                    @storageLocationFeedBack
                                </div>
                            }
                        }
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>

    </div>













    @*-------------------------------------------------------------------*@
    @*-------------------------------------------------------------------*@
    @*-------------------------------------------------------------------*@
    @* The list of storagelocations matching the search terms *@
    @*-------------------------------------------------------------------*@
    @*-------------------------------------------------------------------*@
    @*-------------------------------------------------------------------*@
    <div class="container containerMain box-shadow">
        @*Header of the overview*@
        <div class="row containerHeader">
            <div class="col-lg-2 col-md-3 p-2">
                <select class="headerSortLink" asp-for="@Model.Filter" onchange="submit('listStorageLocations')">
                    <option value="0" selected>Sorter</option>
                    <option value="1">Bygning &#709;</option>
                    <option value="2">Bygning &#708;</option>
                    <option value="3">Lokale &#709;</option>
                    <option value="4">Lokale &#708;</option>
                    <option value="5">Reol &#709;</option>
                    <option value="6">Reol &#708;</option>
                    <option value="7">Etage &#709;</option>
                    <option value="8">Etage &#708;</option>
                    <option value="9">Placering &#709;</option>
                    <option value="10">Placering &#708;</option>
                </select>
            </div>

            <h4 class="col-lg-8 col-md-6 col-12">Placerings administration</h4>

            <div class="col-lg-2 col-md-3 p-2">
            </div>
        </div>


        @*SubHeader of the overview*@
        <div class="row containerSubHeader border-top border-bottom border-white border-1">
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">
                <div class="headerSortLink">
                    Bygning
                </div>
            </div>
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Lokale
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Reol
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Etage
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Hyldeplads
                </div>
            </div>
        </div>


        @*Body of the overview Listing all the selected locations*@

        @for (int i = 0; i < Model.StorageLocations.Count; i++)
        {
            <div class="row containerBody border-bottom border-white border-1 alternating_row" id="@i">
                <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">@Model.StorageLocations[i].Location.Building</div>
                <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">@Model.StorageLocations[i].Location.RoomNumber</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@Model.StorageLocations[i].ShelfName</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@Model.StorageLocations[i].ShelfLevel</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@Model.StorageLocations[i].ShelfSpot</div>
                <div class="col-lg-3 p-1"></div>
                <div class="col-lg-2 col-6 p-1 center "><button type="submit" name="printQR" class="btn btn-primary btn-sm btn-blue" style="width:100px" value="@Model.StorageLocations[i].LocationID" asp-action="PrintSingleLocationQR">QR-Kode</button></div>
                @*<input type="hidden" value="@Model.StorageLocations[i]" asp-for="@Model.StorageLocation" />*@
                <div class="col-lg-2 col-6 p-1 center ">
                    @if (@Model.StorageLocations[i].Location.Building != "Modtagelse" && @Model.StorageLocations[i].Location.Building != "Værksted" && @Model.StorageLocations[i].Location.Building != "Udlånt")
                    {
                        if (@Model.StorageLocations[i].UnitCount == 0)
                        {
                            @*Remember that the name needs to be the same as the variable that is sent to the controller*@
                            <button type="submit" name="deleteLocation" class="btn btn-danger btn-sm btn-red" value="@Model.StorageLocations[i].LocationID.@i" style="width:100px" asp-action="DeleteSingleLocation" onclick="fadeOut(@i)">Slet (@Model.StorageLocations[i].UnitCount)</button>
                        }
                        else
                        {
                            string toolTip1 = $"Placeringen kan ikke slettes da der findes ({@Model.StorageLocations[i].UnitCount}) enheder på placeringen";

                            <span class="tool-tip" data-toggle="tooltip" data-placement="top" title="@toolTip1">
                                <button class="btn btn-danger btn-sm btn-dark" disabled="disabled" style="width:100px"> Slet (@Model.StorageLocations[i].UnitCount) </button>
                            </span>
                        }
                    }
                    else
                    {
                        string toolTip2 = "Denne Placering kan ikke slettes da den er guddommelig!";
                        <span class="tool-tip" data-toggle="tooltip" data-placement="top" title="@toolTip2">
                            <button class="btn btn-danger btn-sm btn-dark" disabled="disabled" style="width:100px">
                                Slet (@Model.StorageLocations[i].UnitCount)
                            </button>
                        </span>
                    }
                </div>


            </div>
        }

        @*Extra row to show print all QR codes*@
        <div class="row containerBody border-bottom border-white border-1 alternating_row">
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"></div>
            <div class="col-lg-3 p-1"></div>
            <div class="col-lg-2 col-6 p-1 center "><button type="submit" class="btn btn-primary btn-sm btn-blue" style="width:175px" asp-action="PrintAllQRCodes">Udskriv alle QR-Koder</button></div>
            <div class="col-lg-2 col-6 p-1 center "></div>
        </div>

        <input type="hidden" asp-for="@Model.StorageLocations" />

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </div>
</form>













@*-------------------------------------------------------------------*@
@*-------------------------------------------------------------------*@
@*-------------------------------------------------------------------*@
@* The Mass destruction area *@
@*-------------------------------------------------------------------*@
@*-------------------------------------------------------------------*@
@*-------------------------------------------------------------------*@

@*<form asp-action="" method="post" id="insertData">*@
<div class="container containerMain box-shadow">


    @*Header of the Massdestruction area*@
    <div class="row containerHeader">
        <h4 class="col">Masseudryddelse</h4>
    </div>



    @*Body of the Massdestruction area*@
    <div class="row containerBody">
        <div class="col-12">
            <div class="row p-1">
                <div class="col-lg-4 p-1"></div>


                <div class="col-lg-4 col-sm-12 p-1 text-red text-bold center">(Hvis du ikke kender konsekvensen, så lad hellere være)</div>


                <div class="col-lg-4 p-1"></div>
            </div>




            <div class="row p-1">
                <div class="col-lg-5 p-1">
                    Bygning og lokale nr. kan kun slettes hvis de ikke findes i et rum.
                    Rum kan kun slettes hvis ikke der finde lokationer i rummet.
                </div>


                <div class="col-lg-2 col-sm-12 p-1"></div>


                <div class="col-lg-5 p-1">
                    Reol navn, etage, og hyldeplads kan kun slettes, såfremt at der ikke er nogle
                    placeringer hvor de indgår i.
                </div>
            </div>



            <div class="row">


                <div class="col-lg-5">

                    <div class="row">

                        @try
                        {
                            @if (deleteBuildingAndRoomFeedback != null)
                            {
                                if (deleteBuildingAndRoomFeedback.Contains("ikke") == true || deleteBuildingAndRoomFeedback.Contains("forkert") == true)
                                {
                                    <div class="col-12 p-1 text-red fadeUp">@deleteBuildingAndRoomFeedback</div>

                                }
                                else
                                {
                                    <div class="col-12 p-1 text-green fadeUp">@deleteBuildingAndRoomFeedback</div>

                                }
                            }
                        }
                        catch (Exception)
                        {

                            throw;
                        }
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <form method="post" id="deleteBuilding">
                                <div class="row">

                                    <div class="col-12 dynamic-Font-Size-12 p-1 center">
                                        <label>
                                            Bygning:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class=" form-select capitalized" id="buldingInput" list="buildings" aria-label="building" pattern="[A-Za-z0-9æøåÆØÅ]{0,50}" title="Bogstaver og tal og max. 50 karakterer" maxlength="50" asp-for="@Model.DeleteBuilding" onsubmit="ClearInputField('buldingInput')">
                                        <datalist id="buildings">
                                            @for (int i = 0; i < Model.Buildings.Count; i++)
                                            {
                                                <option>@Model.Buildings[i]</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteBuilding" onclick="submit('deleteBuilding')">Slet</button>
                                    </div>

                                </div>

                            </form>
                        </div>

                        <div class="col-lg-4">
                            <form method="post" id="deleteRoom">
                                <div class="row">

                                    <div class="col-12 p-1 dynamic-Font-Size-12 center">
                                        <label>
                                            Valgt Rum:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class="form-select capitalized" id="chosenRoom" list="rooms" aria-label="room" pattern="^[A-Za-z0-9æøåÆØÅ]{1,50}[\.]{1}[A-Za-z0-9æøåÆØÅ]{1,10}$" title="Skal indeholde bygning og lokalenummer adskilt med et punktum (format: bygning.nummer) (max 50).(max 10)" maxlength="61" asp-for="@Model.DeleteRoom" onsubmit="ClearInputField('chosenRoom')">
                                        <datalist id="rooms">
                                            @for (int i = 0; i < Model.Rooms.Count; i++)
                                            {
                                                <option>@Model.Rooms[i]</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteRoom" onclick="submit('deleteRoom')">Slet</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="col-lg-4">
                            <form method="post" id="deleteRoomNumber">

                                <div class="row">

                                    <div class="col-12 p-1 dynamic-Font-Size-12 center">
                                        <label>
                                            Lokale nr:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class="form-select capitalized" id="romNrInput" list="roomNumbers" aria-label="roomNumber" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.DeleteRoomNumber" onsubmit="ClearInputField('romNrInput')">
                                        <datalist id="roomNumbers">
                                            @for (int i = 0; i < Model.RoomNumbers.Count; i++)
                                            {
                                                <option>@Model.RoomNumbers[i]</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center ">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteRoomNumber" onclick="submit('deleteRoomNumber')">Slet</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>


                <div class="col-lg-2">

                </div>


                <div class="col-lg-5">

                    <div class="row">

                        @try
                        {
                            @if (deleteLocationFeedback != null)
                            {
                                if (deleteLocationFeedback.Contains("ikke") == true || deleteLocationFeedback.Contains("forkert") == true)
                                {
                                    <div class="col-12 p-1 text-red fadeUp">@deleteLocationFeedback</div>

                                }
                                else
                                {
                                    <div class="col-12 p-1 text-green fadeUp">@deleteLocationFeedback</div>

                                }
                            }
                        }
                        catch (Exception)
                        {

                            throw;
                        }
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <form method="post" id="deleteShelfName">
                                <div class="row">

                                    <div class="col-12 dynamic-Font-Size-12 p-1 center">
                                        <label>
                                            Reol:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class=" form-select capitalized" id="shelfNameInput" list="shelfNames" aria-label="shelfName" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.DeleteShelfName" onsubmit="ClearInputField('shelfNameInput')">
                                        <datalist id="shelfNames">
                                            @for (int i = 0; i < Model.ShelfNames.Count; i++)
                                            {
                                                <option>@Model.ShelfNames[i]</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteShelfName" onclick="submit('deleteShelfName')">Slet</button>
                                    </div>

                                </div>

                            </form>
                        </div>

                        <div class="col-lg-4">
                            <form method="post" id="deleteShelfLevel">
                                <div class="row">

                                    <div class="col-12 p-1 dynamic-Font-Size-12 center">
                                        <label>
                                            Etage:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class="form-select capitalized" id="shelfLevelInput" list="shelfLevels" aria-label="shelfLevel" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.DeleteShelfLevel" onsubmit="ClearInputField('shelfLevelInput')">
                                        <datalist id="shelfLevels">
                                            @for (int i = 0; i < Model.ShelfLevels.Count; i++)
                                            {
                                                <option>@Model.ShelfLevels[i]</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteShelfLevel" onclick="submit('deleteShelfLevel')">Slet</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="col-lg-4">
                            <form method="post" id="deleteShelfSpot">

                                <div class="row">

                                    <div class="col-12 p-1 dynamic-Font-Size-12 center">
                                        <label>
                                            Plads:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class="form-select capitalized" id="shelfSpotInput" list="shelfSpots" aria-label="shelfSpot" pattern="[A-Za-z0-9æøåÆØÅ]{0,10}" title="Bogstaver og tal og max. 10 karakterer" maxlength="10" asp-for="@Model.DeleteShelfSpot" onsubmit="ClearInputField('shelfSpotInput')">
                                        <datalist id="shelfSpots">
                                            @for (int i = 0; i < Model.ShelfSpots.Count; i++)
                                            {
                                                <option>@Model.ShelfSpots[i]</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center ">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteShelfSpot" onclick="submit('deleteShelfSpot')">Slet</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>



    @*Footer of the Massdestruction area*@
    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>


@*</form>*@








