@model HUS_project.Models.ViewModels.CreateDeviceModel
@{
    ViewData["Title"] = "Opret enhed";
}



<div class="row blue-oyster-bar"></div>


<div class="container center containerMain box-shadow">

    <!--Header text-->
    <div class=" row containerHeader">
        <h4 class="text-white">Opret enhed</h4>

    </div>



    <form class="row containerBody center was-validated" id="form" asp-action="CheckImage" method="post" autocomplete="off">

        <!--empty col-->
        <div class="col-xl-2 col-md-6 gx-3 gy-3">


        </div>


        <!--image upload-->
        <div class="col-xl-4 col-md-12 gx-3 gy-3">
            <div class="row center">


                <!--test of camera capture-->
                <div class="center">
                    @if (Model.Image == null)
                    {
                        <img class="img-bg centerVideo" id="pictureFromCamera" src="~/Graphic/billede-mangler_332_250.png" />
                        <video class="img-bg centerVideo" id="video" width="336" height="254" autoplay></video>
                    }
                    else
                    {
                        <img class="img-bg centerVideo" id="pictureFromCamera" src="@Url.Content(Model.Image)" />
                        <video class="img-bg centerVideo" id="video" width="336" height="254" autoplay></video>
                    }



                    <input type="hidden" id="hiddenimage" asp-for="@Model.Image" value="" />

                </div>

            </div>
            <div class="row center p-3">
                <div>
                    @if (Model.Image == null)
                    {
                        @*<button id="snap" type="button">Upload billed</button>*@
                        <button id="CameraButton" type="button" class=" btn-primary btn" onclick="EnableCam()">Tænd kamera</button>
                    }
                    else
                    {
                        @*<button id="snap" type="button">Upload nyt billed</button>*@
                        <button id="CameraButton" type="button" class=" btn-primary btn" onclick="EnableCam()">Nyt Billed</button>
                    }

                    <input type="file" id="FileUpload" accept="image/*" onchange="UploadImage(event)"/>

                </div>
            </div>

        </div>

        <!--user input fields-->
        <div class="col-xl-4 col-md-6 gx-3 gy-3">

            <!--categories dropdown-->
            <div class="form-floating">
                <select class="form-select" id="categories" asp-for="@Model.Device.Model.Category.Category" required>
                    <option hidden></option>
                    @foreach (var item in Model.Categories)
                    {
                        <option>@item</option>
                    }

                </select>
                <label for="exampleDataList">vælg kategori</label>
            </div>

            <br />
            <!--modelnames dropdown-->
            <div class="form-floating ">
                <input class="form-select" list="modelNames" id="exampleDataList" asp-for="@Model.Device.Model.ModelName" onchange="PostToCheckImage()" required data-toggle="tooltip" data-placement="top" title="hvis enheds navnet ikke eksisterer i forvejen, oprettes en ny">
                <datalist id="modelNames">

                    @foreach (var item in Model.ModelNames)
                    {
                        <option>@item</option>
                    }

                </datalist>
                <label for="exampleDataList">Indtast enhedsnavn</label>
            </div>

            <br />

            <!--serial number field-->
            <div class="form-floating">
                <input class="form-control is-invalid" id="inputSerial" placeholder="indtast serienr." asp-for="@Model.Device.SerialNumber" required />
                <label for="inputSerial">Serienummer:</label>

            </div>

            <br />

            <!--comments text field-->
            <div class="form-floating">
                <textarea class="form-control is-invalid" placeholder="Leave a comment here" id="floatingTextarea2" rows="5" style="height:100%;" asp-for="@Model.Device.Model.ModelDescription" required maxlength="2000"></textarea>
                <label for="floatingTextarea2">beskrivelse</label>
                <span id="remaining"></span>
                <span id="limit">(Max 2000 tegn)</span>
            </div>

        </div>

        <!--empty col-->
        <div class="col-xl-2 col-md-6 gx-3 gy-3">


        </div>

        <!--submit button-->
        <div class="row">
            <div class="col p-3">
                <button class="btn btn-primary btn-blue" type="submit" id="btn" onclick="submitDevice()">Gem</button>

            </div>
        </div>



    </form>


    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>

<!--java script to count remaining text in description-->
<script src="~/js/textCount.js"></script>

<!--javascript to enable web cam-->
<script src="~/js/Camera_simple.js"></script>
<script src="~/js/HideElements.js"></script>
<script src="~/js/PostImage.js"></script>
