@model HUS_project.Models.EditDeviceModel
@{
    ViewData["Title"] = "Opret enhed";
}

<div class="containerHeader " style=" background-color:darkgrey;height:50px"></div>

<div class=" container " style="background-color: deepskyblue; height:300px">

    <div class="row ">
        <h4>Opret enhed</h4>
        <form class="row" asp-action="AddDeviceToDB" method="post">

            <div class="col m-md-3">
                <div class=" row">
                    <div class="col img-bg" style="height:150px">
                        <img src="~/Graphic/billede-mangler.png" style="width:150px" />
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class=" btn-primary btn" asp-action="CreateQRCode">upload foto</button>

                    </div>
                </div>

            </div>


            <div class="col m-md-3">
                <div>
                    <label>Kategori:</label>
                    <input list="categories" placeholder="Vælg kategori" asp-for="@Model.Device.Model.Category.Category" />
                    <datalist id="categories">
                        <option selected></option>
                        @foreach (var item in Model.Categories)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                </div>

                <br />

                <div>
                    <label>Enhedsnavn:</label>
                    <input list="models" placeholder="Indtast enhedsnavn" asp-for="@Model.Device.Model.ModelName" />
                    <datalist id="models">
                        @foreach (var item in Model.ModelNames)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                </div>

                <br />

                <input class="btn-blue" type="submit" value="Gem" />



            </div>

            <div class="col-md-3 ">
                <div>
                    <label>Serienummer:</label>
                    <input placeholder="indtast serienr." asp-for="@Model.Device.SerialNumber" />

                </div>
            </div>

            <div class="col-md-3 ">
                <label>Beskrivelse</label>
                <input placeholder="Tilføj beskrivelse" asp-for="@Model.Device.Model.ModelDescription" />
            </div>



        </form>
    </div>

</div>

<div class=" containerFooter" style=" background-color:darkgrey;height:50px"></div>
