@model HUS_project.Models.ViewModels.EditDeviceModel
@{
    ViewData["Title"] = "Rediger enhed";
}



<!--java script to count remaining text in description-->
<script src="~/js/Editdevice.js"></script>



<form class="was-validated" asp-action="GetLocations" method="post" autocomplete="off" id="editForm">


    <div class="row blue-oyster-bar center box-shadow"></div>

    <div class="container containerMain box-shadow">



        <!--header bar-->
        <div class=" row containerHeader">

            <h4 class="text-white">Rediger enhed</h4>

        </div>


        <div class="row containerBody">

            <div class="col-12">
                <div class="row">

                    <div class="col-md-12 center">
                        <label for="IDInput">Enheds ID:</label>
                        <input type="hidden" id="IDInput" asp-for="@Model.Device.DeviceID" />
                        <label for="IDInput">@Model.Device.DeviceID</label>
                    </div>


                </div>
            </div>

            <div class="col-12">

                <!--test new rows-->
                <div class="row">

                    <!--Picture & Save-->
                    <div class="col-md-3 border_EditBox">
                      
                        <!--Row for serial number-->
                        <div class="row center p-1">

                            <div class="form-floating ">
                                <input class="form-control" id="serial" type="text" asp-for="@Model.Device.SerialNumber" readonly />
                                <label for="serial">Serienummer</label>
                            </div>

                            <!--Row for image-->
                            <div class="row center p-1">

                                <div>
                                    @if (Model.ImagePath != null)
                                    {
                                        <img class="img-bg" src="@Url.Content(Model.ImagePath)" style="width: 90%" />
                                    }
                                    else
                                    {
                                        <img class="img-bg" src="@Url.Content("~/Graphic/"+"missing_image.png")" style="width: 90%" />
                                    }
                                </div>
                            </div>


                        </div>


                        <!--Row for button-->
                        <div class="row p-1">
                            <div class="text-center">
                                <button type="submit" class=" btn-primary btn Button-Size" formaction="EditDevice">Gem</button>

                            </div>
                        </div>

                        <!--create message to show device has been saved-->
                        <div class="row">
                            @if (ViewBag.edit != null)
                            {
                                //create popup to show location has been saved
                                <div class="text-green">@ViewBag.edit</div>
                            }
                            else
                            {
                                <div>&nbsp;</div>
                            }
                        </div>

                    </div>

                    <!--categories dropdown & notes field-->
                    <div class="col-md-3 border_EditBox">

                        <!--Categories list-->
                        <div class="row p-1">

                            <div class="form-floating ">
                                <input class="form-select" list="categories" id="exampleDataList" asp-for="@Model.Device.Model.Category.Category" required>
                                <datalist id="categories">

                                    @for (int i = 0; i < Model.Categories.Count; i++)
                                    {
                                        // lambda function that binds the model to a hidden inputfield that gets posted to controller
                                        @Html.HiddenFor(model => Model.Categories[i])
                                        <option>@Model.Categories[i]</option>
                                    }

                                </datalist>
                                <label for="exampleDataList">vælg kategori</label>
                            </div>




                        </div>

                        <!--models list-->
                        <div class="row p-1">

                            <div class="form-floating ">
                                <input class="form-select" list="modelNames" id="exampleDataList" asp-for="@Model.Device.Model.ModelName" required>
                                <datalist id="modelNames">

                                    @for (int i = 0; i < Model.ModelNames.Count; i++)
                                    {
                                        // lambda function that binds the model to a hidden inputfield that gets posted to controller
                                        @Html.HiddenFor(model => Model.ModelNames[i])
                                        <option>@Model.ModelNames[i]</option>
                                    }

                                </datalist>
                                <label for="exampleDataList">Indtast enhedsnavn</label>
                            </div>

                        </div>
                        <!--Description field-->
                        <div class="row p-1">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 125px" asp-for="@Model.Device.Model.ModelDescription"></textarea>
                                <label for="floatingTextarea2">beskrivelse</label>
                            </div>
                        </div>

                        <!--show error if input not correct-->
                        @if (ViewBag.Error != null)
                        {

                            <div class="text-red">@ViewBag.Error&nbsp;</div>
                        }
                        else
                        {

                            <div>&nbsp;</div>
                        }

                        <!--Print QR code-->
                        <div class="row p-1">
                            <div class="text-center">
                                <button type="submit" class=" btn-primary btn Button-Size" asp-action="PrepForQR">Print QRkode</button>

                            </div>
                        </div>

                    </div>

                    <!--Location dropdowns & scanning-->
                    <div class="col-md-3 border_EditBox">

                        <div class="row p-1">

                            <div class="form-floating ">

                                <input class="form-select" list="locationsdropdown" id="locations" asp-for="@Model.Room" onchange="return SubmitValidation('editForm')" required>
                                <datalist id="locationsdropdown">

                                    @foreach (var item in Model.Rooms)
                                    {
                                        <option>@item</option>
                                    }

                                </datalist>
                                <label for="locations">lager Lokale</label>
                            </div>

                        </div>

                        <div class="row p-1">

                            <div class="form-floating ">
                                <input class="form-select" list="shelvesdropdown" id="shelves" asp-for="@Model.Shelf" required>
                                <datalist id="shelvesdropdown">

                                    @foreach (var item in Model.Shelfs)
                                    {
                                        <option>@item</option>

                                    }
                                </datalist>
                                <label for="shelves">vælg placering</label>
                            </div>

                        </div>


                        <div class="row p-1">

                            <p>Indtast ny placering og tryk gem placering, eller skan QR-Kode på placering:</p>

                        </div>

                        <div class="row p-1">

                            <div class="col">
                                <div class="text-center">
                                    <button type="submit" class=" btn-primary btn Button-Size" formaction="EditLocation" formmethod="post">Gem placering</button>

                                </div>
                            </div>



                            <div class="col">
                                <div class="text-center">
                                    <button type="submit" class=" btn-primary btn Button-Size" formaction="ScanLocation" formmethod="post">Skan placering</button>

                                </div>
                            </div>

                        </div>

                        <!--create message to show location has been saved-->
                        <div class="row">

                            <div>
                                @if (ViewBag.Location != null)
                                {

                                    <div class="text-green">@ViewBag.Location</div>
                                }
                                else if (ViewBag.LocationError != null)
                                {
                                    <div class="text-red">@ViewBag.LocationError</div>
                                }
                                else
                                {
                                    <div>&nbsp;</div>
                                }
                            </div>

                        </div>


                    </div>

                    <!--Delete Device-->
                    <div class="col-md-3">

                        <div class="row p-1" style="height:100%;">

                            <div class="col-12 p-1">

                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="deleteNote" style="height: 140px" asp-for="@Model.Device.Notes"></textarea>
                                    <label for="deleteNote">årsag</label>
                                </div>

                            </div>

                            <!--create message to show Device has been Deleted-->
                            <div class="col-12 p-1">
                                @if (ViewBag.Delete != null)
                                {

                                    <div class="text-green">@ViewBag.Delete&nbsp;</div>
                                }
                                else
                                {

                                    <div class="text-green" id="warning">&nbsp;</div>
                                }
                            </div>

                            <div class="col-12 p-1 center align-self-end">
                                <button type="submit" class=" btn-primary btn Button-Size" formmethod="post" onclick="return CheckInputField()">Slet enhed</button>

                            </div>

                        </div>




                    </div>

                </div>

            </div>



        </div>

        <!--footer bar-->
        <div class="row containerFooter">
            <div class="col-12">
                <h4>&nbsp;</h4>

            </div>
        </div>

    </div>




</form>

<!--test alternating colors-->

<div class="container containerMain box-shadow">


    <div class="row containerHeader">
        <h4 class="col text-white">Log</h4>
    </div>


    @foreach (DeviceModel device in Model.Logs)
    {
        <div class="row containerBody alternating_row dynamic-Font-Size-10">
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 p-1">
                <div class=" row ">
                    <div>

                        @if (Model.ImagePath != null)
                        {
                            <img class="img-bg" src="@Url.Content(Model.ImagePath)" style="width: 100%" />
                        }
                        else
                        {
                            <img class="img-bg" src="~/Graphic/missing_image.png" style="width: 90%" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 p-1">

                <div class="row">
                    <h4>Kategori:</h4>
                    <div class=" dynamic-Font-Size-14">
                        @device.Model.Category.Category
                    </div>
                </div>

                <br />

                <div class="row">
                    <h4>Enhedsnavn:</h4>
                    <div class=" dynamic-Font-Size-14">
                        @device.Model.ModelName
                    </div>
                </div>


            </div>

            <div class="col-xl-4 col-lg-4 col-md-3 col-3 p-1">
                <div class="row">
                    <h4>Beskrivelse:</h4>
                    <div class=" dynamic-Font-Size-14">
                        @device.Notes
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-3 col-3 p-1">
                <div class="row">
                    <h4>Ændret:</h4>
                    <div class=" dynamic-Font-Size-14">
                        @device.ChangeDate
                    </div>


                    <br />

                    <div class="row">
                        <h4>Af:</h4>
                        <div class=" dynamic-Font-Size-14">
                            @device.ChangedBy
                        </div>

                    </div>

                </div>
            </div>

        </div>

    }

    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>

</div>