@model HUS_project.Models.ViewModels.EditDeviceModel
@{
    ViewData["Title"] = "Rediger enhed";
}

<div class=" container-fluid blue-oyster-bar"> </div>


<!--java script to count remaining text in description-->
<script src="~/js/site.js"></script>

<div class="container center containerMain box-shadow">

    <!--header bar-->
    <div class=" row containerHeader">

        <h4 class="text-white">Rediger enhed</h4>

    </div>


    <div class="row containerBody center">
        <form class="row was-validated" asp-action="GetLocations" method="post" autocomplete="off" id="EditForm">

            <!--Print & Save-->
            <div class="col-xl-3 col-md-12 gx-3 gy-3">
                <div class="row">
                    <label class="col-sm-6 col-form-label" for="IDInput">Enheds ID:</label>
                    <div class="col-sm-6">
                        <input type="text" readonly class="form-control-plaintext" id="IDInput" asp-for="@Model.Device.DeviceID" />

                    </div>
                </div>

                <div class=" row ">
                    <div>
                        <img class="img-bg" src="~/Graphic/billede-mangler.png" style="width: 100%" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="text-center">
                        <button type="button" class=" btn-primary btn" formaction="CreateQRCode">Print QRkode</button>

                    </div>
                </div>

                <br />

                <div class="row">

                    <div class="text-center">
                        <button type="submit" class=" btn-primary btn" formaction="EditDevice">Gem</button>

                    </div>

                </div>


            </div>

            <!--categories dropdown-->
            <div class="col-xl-3 col-md-6 gx-3 gy-3">

                <div class="form-floating ">
                    <input class="form-select" list="categories" id="exampleDataList" asp-for="@Model.Device.Model.Category.Category">
                    <datalist id="categories">

                        @foreach (var item in Model.Categories)
                        {
                            <option>@item</option>
                        }

                    </datalist>
                    <label for="exampleDataList">vælg kategori</label>
                </div>

                <br />
                <!--model names dropdown-->
                <div class="form-floating ">
                    <input class="form-select" list="modelNames" id="exampleDataList" asp-for="@Model.Device.Model.ModelName">
                    <datalist id="modelNames">

                        @foreach (var item in Model.ModelNames)
                        {
                            <option>@item</option>
                        }

                    </datalist>
                    <label for="exampleDataList">Indtast enhedsnavn</label>
                </div>

                <br />

                <!--description field-->
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" asp-for="@Model.Device.Model.ModelDescription"></textarea>
                    <label for="floatingTextarea2">beskrivelse</label>
                </div>



            </div>

            @if (ViewBag.Message != null)
            {
                //create popup to show location has been saved
            }

            <!--Location dropdowns & scanning-->
            <div class="col-xl-3 col-md-6 gx-3 gy-3">

                <div class="form-floating ">

                    <input class="form-select" list="locationsdropdown" id="locations" asp-for="@Model.Room" onchange="return SubmitValidation()" required>
                    <datalist id="locationsdropdown">

                        @foreach (var item in Model.Rooms)
                        {
                            <option>@item</option>
                        }

                    </datalist>
                    <label for="locations">vælg Lokale</label>
                </div>

                <br />

                <div class="form-floating ">
                    <input class="form-select" list="shelvesdropdown" id="shelves" asp-for="@Model.Shelf" required>
                    <datalist id="shelvesdropdown">

                        @foreach (var item in Model.Shelfs)
                        {
                            <option>@item</option>

                        }
                    </datalist>
                    <label for="shelves">vælg Hylde</label>
                </div>

                <br />

                <div class="row">
                    <p>Indtast ny placering og tryk gem placering, eller skan QR-Kode på placering:</p>
                </div>

                <div class="row">
                    <div class="text-center">
                        <button type="submit" class=" btn-primary btn" formaction="EditLocation" formmethod="post">Gem placering</button>

                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="text-center">
                        <button type="button" class=" btn-primary btn" asp-action="ScanQRCode">Skan placering</button>

                    </div>
                </div>

            </div>


            <!--Delete Device-->
            <div class="col-xl-3 col-md-6 gx-3 gy-3">

                <div class="row">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="deleteNote" style="height: 100px" asp-for="@Model.Device.Notes"></textarea>
                        <label for="deleteNote">årsag</label>
                    </div>
                </div>

                <div class="row">
                    <div class="text-center">
                        <button type="button" class=" btn-primary btn" formaction="DeleteDevice">Slet enhed</button>

                    </div>
                </div>



            </div>


        </form>
    </div>

    <!--footer bar-->
    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>

</div>



<!--test alternating colors-->
<div>


    <div class="alternating_rows_cols">hello world</div>
    <div class="alternating_rows_cols">hello world</div>
    <div class="alternating_rows_cols">hello world</div>
    <div class="alternating_rows_cols">hello world</div>
    <div class="alternating_rows_cols">hello world</div>


</div>