@model HUS_project.Models.ViewModels.ModelInfoModel
@{
    ViewData["Title"] = "Lagerstyring";
}

<div class=" row blue-oyster-bar center box-shadow">

    <!--first row-->
    <div class="row">
        <div class="col text-white">
            <label>søgeord:</label>
        </div>

        <div class="col text-white">
            <label>Kategori:</label>
        </div>

        <div class="col text-white">
            <label>Status:</label>
        </div>

        <div class="col text-white">
            <form class="" asp-area="" asp-controller="Administration" asp-action="CategoryAdmin" method="post">

                <button class="btn-blue" type="submit">Ny Kategori</button>
            </form>



        </div>

        <div class="col text-white">
            <form class="" asp-area="" asp-controller="Device" asp-action="CreateDevice" method="post">

                <button class="btn-blue" type="submit">Opret enhed</button>
            </form>
        </div>

        @*<div class="col text-white">
            <form class="" asp-area="" asp-controller="Device" asp-action="EditView" method="post">

                <button class="btn-blue" type="submit">rediger enhed</button>
            </form>
        </div>*@




    </div>


</div>


<div class="container containerMain box-shadow">
    <form asp-action="EditView" asp-controller="Device" method="post">

        <div class="row containerHeader">
            <h4 class="col">Lagerbeholdning</h4>
        </div>

        <div class="row containerSubHeader border-top border-bottom border-white border-1 dynamic-Font-Size-10">
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">ID</div>
            <div class="col-xl-5 col-lg-3 col-md-2 col-2 p-1 border-end border-white border-1">Beskrivelse</div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Kategori</div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">Lokale</div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">Hylde</div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Status</div>
        </div>




        @foreach (DeviceModel device in Model.BorrowedDevices)
        {



            <div class="row containerBody alternating_row dynamic-Font-Size-10">
                <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@device.DeviceID</div>
                <div class="col-xl-5 col-lg-3 col-md-2 col-2 p-1 border-end border-white border-1">@device.Model.ModelName</div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@device.Model.Category.Category</div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">@(device.Location.Location.Building +"."+device.Location.Location.RoomNumber )</div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">@(device.Location.ShelfName + "."+device.Location.ShelfLevel + "." + device.Location.ShelfSpot)</div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@device.Status</div>
                @*  <div class="col-xl-1 p-1"></div>*@

                <div class="col-lg-2 col-12 p-1 center ">
                    <button class="btn btn-primary btn-sm btn-blue" type="submit" name="submit" value="@device.DeviceID">Rediger </button>
                </div>

            </div>

        }

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </form>
</div>
