@model HUS_project.Models.ViewModels.ModelInfoModel
@{
    ViewData["Title"] = "Lagerstyring";
}

<script src="~/js/Inventory.js"></script>


<!--Blue Oister Bar with search fields-->
<form id="searchform" asp-controller="Device" asp-action="Inventory" method="post">
    <div class="row blue-oyster-bar center box-shadow">

        <div class="col-xl-1 col g-3">
        </div>

        <!--dropdown for categories-->
        <div class="col-xl-2 col-lg-3 col-sm-12 g-3">
            <div class="form-floating">
                <select class="form-select" id="categories" asp-for="@Model.Category" onchange="this.form.submit()">
                    <option></option>
                    @foreach (var item in Model.Categories)
                    {
                        <option>@item</option>
                    }
                </select>
                <label for="floatingSelectGrid">Kategori:</label>
            </div>
        </div>



        <!--Search term-->
        <div class="col-xl-6 col-lg-4 col-sm-12 g-3">
            <div class="form-floating">
                <input type="search" class="form-control" asp-for="@Model.SearchName" id="searchBar" onkeyup="SetTimeout()" onkeydown="ClearTimeout()">
                <label for="floatingSelectGrid">søg efter enhed:</label>


            </div>
        </div>



        <!--dropdown for status-->
        <div class="col-xl-2 col-lg-3 col-sm-12 g-3">
            <div class="form-floating">
                <select class="form-select" id="status" asp-for="@Model.DeviceStatus" onchange="this.form.submit()">
                    <option hidden></option>
                    @foreach (var item in Model.InventoryStatuses)
                    {
                        <option>@item</option>
                    }
                </select>
                <label for="floatingSelectGrid">Status:</label>

            </div>
        </div>

        <div class="col-xl-1 col g-3">
        </div>


    </div>

</form>


<!--
---------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------
    List devices
---------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------

-->
<div class="container containerMain box-shadow">
    <form asp-action="EditView" asp-controller="Device" method="post">

        <div class="row containerHeader">
            <h4 class="col">Lagerbeholdning</h4>
        </div>

        <div class="row containerSubHeader border-top border-bottom border-white border-1 dynamic-Font-Size-10">
            <div class="col-md-1 col-2 p-1 border-end border-white border-1 border-bottom">ID</div>
            <div class="col-md-4 col-6 p-1 border-end border-white border-1 border-bottom">Beskrivelse</div>
            <div class="col-md-2 col-4 p-1 border-end border-white border-1 border-bottom">Kategori</div>
            <div class="col-md-2 col-4 p-1 border-end border-white border-1">Lokale</div>
            <div class="col-md-2 col-4 p-1 border-end border-white border-1">Status</div>
            <div class="col-md-1 col-4 p-1 border-white border-1"></div>

        </div>




        @foreach (DeviceModel device in Model.BorrowedDevices)
        {



            <div class="row containerBody alternating_row dynamic-Font-Size-10">
                <div class=" col-md-1 col-2 p-1 border-end border-white border-1">@device.DeviceID</div>
                <div class=" col-md-4 col-6 p-1 border-end border-white border-1">@device.Model.ModelName</div>
                <div class=" col-md-2 col-4 p-1 border-end border-white border-1">@device.Model.Category.Category</div>
                <div class=" col-md-2 col-4 p-1 border-end border-white border-1">@(device.Location.Location.Building +"."+device.Location.Location.RoomNumber )</div>
                <div class=" col-md-2 col-4 p-1 border-end border-white border-1">@device.BookingStatus</div>
                @*  <div class="col-xlcol-4-1 p-1"></div>*@

                <div class="col-md-1 col-2 p-1 border-white border-1 center">
                    <button class="btn btn-primary btn-sm btn-blue" type="submit" name="submit" value="@device.DeviceID">Rediger </button>
                </div>

            </div>

        }

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </form>
</div>
