@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.ViewModels.EditStorageLocationModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Placerings Administration";
}
<div class="row blue-oyster-bar">
    <form Asp-action="LocationAdmin" method="post" class="row gx-3 gy-3">
   
          
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-select" id="buildingDropDown" list="buildings" aria-label="Vælg Bygning" asp-for="@Model.StorageLocation.Location.Building">
                    <datalist id="buildings">
                        @foreach (var item in Model.Buildings)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Bygning:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-select" id="roomNumberDropDown" list="roomNumbers" aria-label="Vælg lokalenummer" asp-for="@Model.StorageLocation.Location.RoomNumber">
                    <datalist id="roomNumbers">
                        @foreach (var item in Model.RoomNumbers)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">LokaleNummer:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-select" id="shelfNameDropDown" list="shelfNames" aria-label="Vælg ReolNavn" asp-for="@Model.StorageLocation.ShelfName">
                    <datalist id="shelfNames">
                        @foreach (var item in Model.ShelfNames)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol navn:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-select" id="shelfLevelDropDown" list="shelfLevels" aria-label="Vælg Etage" asp-for="@Model.StorageLocation.ShelfLevel">
                    <datalist id="shelfLevels">
                        @foreach (var item in Model.ShelfLevels)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol Etage:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-select" id="shelfSpotDropDown" list="shelfSpots" aria-label="Vælg Hyldeplads" asp-for="@Model.StorageLocation.ShelfSpot">
                    <datalist id="shelfSpots">
                        @foreach (var item in Model.ShelfSpots)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Hyldeplads:</label>
                </div>
            </div>
            @*<div class="col-md-3">*@
            <div class="col-md">
                <ul>
                    <li>
                        Alle felter kan oprettes enkeltvis
                    </li>
                    <li>
                        Hvis Bygning og Lokale er udfyldt samtidigt vil der <br />
                        oprettes et "Lokale" hvis ikke det eksisterer i forvejen
                    </li>
                    <li>
                        Hvis alle felter er udfyldt, vil der oprettes en placering.
                    </li>
                </ul>
                <p>Men kun hvis det ikke findes I forvejen</p>
            </div>
            @*</div>*@
        <div class="col-md">
            <button type="button" class="btn btn-primary btn-blue">Tilføj Placering</button>
        </div>




    </form>


</div>
<div class="container-md rounded-top rounded-3 border border-3">
    this is a test header
</div>
<div class="container-md border border-3">
    This is a test body container
    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-primary btn-blue">QR-Kode</button>
        <button type="button" class="btn btn-danger btn-red">Slet</button>
    </div>
</div>
<div class="container-md rounded-bottom rounded-3 border border-3">
    this is a test footer


</div>
