@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.ViewModels.EditStorageLocationModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Placerings Administration";
}

<!--Variables to be used with JavaScripts-->
@{string tempData = ViewBag.alert;}
@{string deleteFeedback = ViewBag.deleteMessage;}
@{string selectedID = ViewBag.selectedID;}
@{string buildingNameFeedBack = ViewBag.buildingNameFeedBack;}
@{string roomNumberFeedBack = ViewBag.roomNumberFeedBack;}
@{string roomFeedBack = ViewBag.roomFeedBack;}
@{string shelfNameFeedBack = ViewBag.shelfNameFeedBack;}
@{string shelfLevelFeedBack = ViewBag.shelfLevelFeedBack;}
@{string shelfSpotFeedBack = ViewBag.shelfSpotFeedBack;}
@{string storageLocationFeedBack = ViewBag.storageLocationFeedBack;}


<!--javaScript inclusion-->
<script src="~/js/locationAdministration.js"></script>
<script src="~/js/site.js"></script>



@*<style>
        body,html {
            scroll-behavior: auto !important;
        }
    </style>*@







<script>
        $(document).ready(function () {
            scrollToDiv('@deleteFeedback','@selectedID');
        });
</script>




<script>
    alertFunction('@tempData');
</script>



<!--Blue Oister Bar with search fields-->
<form asp-action="LocationAdminResult" method="post" id="listStorageLocations">
    <div class="row blue-oyster-bar center box-shadow">
        <div class="row">

            <div class="col-xl-1 gx-3 gy-3">
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="buildingDropDown" list="buildings" aria-label="Vælg Bygning" asp-for="@Model.StorageLocation.Location.Building" onkeyup="submit('listStorageLocations')">
                    <datalist id="buildings">
                        @foreach (var item in Model.Buildings)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Bygning:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="roomNumberDropDown" list="roomNumbers" aria-label="Vælg lokalenummer" asp-for="@Model.StorageLocation.Location.RoomNumber" onkeyup="submit('listStorageLocations')">
                    <datalist id="roomNumbers">
                        @foreach (var item in Model.RoomNumbers)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Lokale Nr:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfNameDropDown" list="shelfNames" aria-label="Vælg ReolNavn" asp-for="@Model.StorageLocation.ShelfName" onkeyup="submit('listStorageLocations')">
                    <datalist id="shelfNames">
                        @foreach (var item in Model.ShelfNames)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol navn:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfLevelDropDown" list="shelfLevels" aria-label="Vælg Etage" asp-for="@Model.StorageLocation.ShelfLevel" onkeyup="submit('listStorageLocations')">
                    <datalist id="shelfLevels">
                        @foreach (var item in Model.ShelfLevels)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol Etage:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfSpotDropDown" list="shelfSpots" aria-label="Vælg Hyldeplads" asp-for="@Model.StorageLocation.ShelfSpot" onkeyup="submit('listStorageLocations')">
                    <datalist id="shelfSpots">
                        @foreach (var item in Model.ShelfSpots)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Hyldeplads:</label>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>
        <div class="row">
            @{string toolTip = "\nAlle felter kan oprettes enkeltvis, hvis ikke de findes i forvejen. \n\n" +
                                      "Hvis Bygning og Lokale er udfyldt samtidigt kan der \n" +
                                      "oprettes et Lokale, hvis ikke det eksisterer i forvejen.\n\n" +
                                      "Hvis alle felter er udfyldt, kan der oprettes en vareplacering,\n" +
                                      "hvis denne ikke findes i forvejen.\n"; }
            <div class="col p-3">
                <button type="submit" class="btn btn-primary btn-blue black-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@toolTip" asp-action="CreateLocation" onclick="checkInputFields1()">Tilføj Placering</button>
            </div>
        </div>
    </div>










    @*-------------------------------------------------------------------*@
    @*-------------------------------------------------------------------*@
    @* The list of storagelocations matching the search terms *@
    @*-------------------------------------------------------------------*@
    @*-------------------------------------------------------------------*@
    <div class="container containerMain box-shadow">
        @*Header of the overview*@
        <div class="row containerHeader">
            <div class="col-lg-2 col-md-3 p-2">
                <select class="headerSortLink" asp-for="@Model.Filter" onchange="submit('listStorageLocations')">
                    <option value="0" selected>Sorter</option>
                    <option value="1">Bygning &#709;</option>
                    <option value="2">Bygning &#708;</option>
                    <option value="3">Lokale &#709;</option>
                    <option value="4">Lokale &#708;</option>
                    <option value="5">Reol &#709;</option>
                    <option value="6">Reol &#708;</option>
                    <option value="7">Etage &#709;</option>
                    <option value="8">Etage &#708;</option>
                    <option value="9">Placering &#709;</option>
                    <option value="10">Placering &#708;</option>
                </select>
            </div>

            <h4 class="col-lg-8 col-md-6 col-12">Placerings administration</h4>

            <div class="col-lg-2 col-md-3 p-2">
            </div>
        </div>


        @*SubHeader of the overview*@
        <div class="row containerSubHeader border-top border-bottom border-white border-1">
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">
                <div class="headerSortLink">
                    Bygning
                </div>
            </div>
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Lokale
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Reol
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Etage
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Placering
                </div>
            </div>
        </div>


        @*Body of the overview Listing all the selected locations*@

        @for (int i = 0; i < Model.StorageLocations.Count; i++)
        {
            <div class="row containerBody border-bottom border-white border-1 alternating_row" id="@i">
                <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">@Model.StorageLocations[i].Location.Building</div>
                <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">@Model.StorageLocations[i].Location.RoomNumber</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@Model.StorageLocations[i].ShelfName</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@Model.StorageLocations[i].ShelfLevel</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@Model.StorageLocations[i].ShelfSpot</div>
                <div class="col-lg-3 p-1"></div>
                <div class="col-lg-2 col-6 p-1 center "><button type="submit" name="printQR" class="btn btn-primary btn-sm btn-blue" style="width:100px" value="@Model.StorageLocations[i].LocationID" asp-action="PrintSingleLocationQR">QR-Kode</button></div>
                @*<input type="hidden" value="@Model.StorageLocations[i]" asp-for="@Model.StorageLocation" />*@
                <div class="col-lg-2 col-6 p-1 center ">
                    @if (@Model.StorageLocations[i].Location.Building != "Modtagelse" && @Model.StorageLocations[i].Location.Building != "Værksted")
                    {
                        @*Remember that the name needs to be the same as the variable that is sent to the controller*@
                        <button type="submit" name="deleteLocation" class="btn btn-danger btn-sm btn-red" value="@Model.StorageLocations[i].LocationID.@i" style="width:100px" asp-action="DeleteSingleLocation" onclick="fadeOut(@i)">Slet</button>
                    }
                    @*@if (i == Model.StorageLocations.Count - 1)
                        {
                            <button type="submit" class="btn btn-primary btn-sm btn-blue" style="width:150px" asp-action="PrintAllQRCodes">Print alle QR-Koder</button>
                        }*@
                </div>


            </div>
        }

        @*Extra row to show print all QR codes*@
        <div class="row containerBody border-bottom border-white border-1 alternating_row">
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"></div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"></div>
            <div class="col-lg-3 p-1"></div>
            <div class="col-lg-2 col-6 p-1 center "><button type="submit" class="btn btn-primary btn-sm btn-blue" style="width:175px" asp-action="PrintAllQRCodes">Udskriv alle QR-Koder</button></div>
            <div class="col-lg-2 col-6 p-1 center "></div>
        </div>

        <input type="hidden" asp-for="@Model.StorageLocations" />

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </div>
</form>








@*-------------------------------------------------------------------*@
@*-------------------------------------------------------------------*@
@* The Mass destruction area *@
@*-------------------------------------------------------------------*@
@*-------------------------------------------------------------------*@
<form asp-action="" method="post" id="insertData">
    <div class="container containerMain box-shadow">


        @*Header of the Massdestruction area*@
        <div class="row containerHeader">
            <h4 class="col">Masseudryddelse</h4>
        </div>



        @*Body of the Massdestruction area*@
        <div class="row containerBody">
            <div class="col-12">
                <div class="row p-1">
                    <div class="col-lg-4 p-1"></div>


                    <div class="col-lg-4 col-sm-12 p-1 text-red text-bold center">(Hvis du ikke kender konsekvensen, så lad hellere være)</div>


                    <div class="col-lg-4 p-1"></div>
                </div>




                <div class="row p-1">
                    <div class="col-lg-5 p-1">Hvis både bygning og lokale nr. er udfyldt, og rummmet ikke er i brug, så kan det slettes​</div>


                    <div class="col-lg-2 col-sm-12 p-1"></div>


                    <div class="col-lg-5 p-1">
                        Reol navn, etage nr. Og plads nummer kan kun slettes såfremt at der ikke er nogle
                        placeringer hvor de indgår i. Du bør derfor sikre dig at ingen af dem indgår i en placering først
                    </div>
                </div>

                <div class="row p-1">
                    @try
                    {
                        @if (deleteFeedback != null)
                        {
                            if (deleteFeedback.Contains("ikke") == true)
                            {
                                <div class="col-lg-5 p-1 text-red">@deleteFeedback</div>

                            }
                            else
                            {
                                <div class="col-lg-5 p-1 text-green">@deleteFeedback</div>

                            }
                        }
                    }
                    catch (Exception)
                    {

                        throw;
                    }






                    <div class="col-lg-2 col-sm-12 p-1"></div>


                    <div class="col-lg-5 p-1"></div>
                </div>


                <div class="row">


                    <div class="col-lg-5">

                        <div class="row">

                            <div class="col-lg-4">
                                <div class="row">

                                    <div class="col-12 dynamic-Font-Size-12 p-1 center">
                                        <label>
                                            Bygning:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class=" form-select capitalized" id="buldingInput" list="buildings" aria-label="building" asp-for="@Model.DeleteBuilding" onkeyup="showRoom()">
                                        <datalist id="buildings">
                                            @foreach (var item in Model.Buildings)
                                            {
                                                <option>@item</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteBuilding" onclick="submit('insertData')">Slet</button>
                                    </div>

                                </div>

                            </div>


                            <div class="col-lg-4">
                                <div class="row">

                                    <div class="col-12 p-1 dynamic-Font-Size-12 center">
                                        <label>
                                            Valgt Rum:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input readonly type="text" class="form-control background-white capitalized" id="chosenRoom" aria-label="room" asp-for="@Model.DeleteRoom">
                                    </div>

                                    <div class="col-12 p-1 center">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteRoom" onclick="submit('insertData')">Slet</button>
                                    </div>

                                </div>
                            </div>


                            <div class="col-lg-4">

                                <div class="row">

                                    <div class="col-12 p-1 dynamic-Font-Size-12 center">
                                        <label>
                                            Lokale nr:
                                        </label>
                                    </div>

                                    <div class="col-12 p-1">
                                        <input class="form-select capitalized" id="romNrInput" list="roomNumbers" aria-label="roomNumber" asp-for="@Model.DeleteRoomNumber" onkeyup="showRoom()">
                                        <datalist id="roomNumbers">
                                            @foreach (var item in Model.RoomNumbers)
                                            {
                                                <option>@item</option>
                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-12 p-1 center ">
                                        <button type="submit" class="btn btn-danger btn-sm btn-red" style="width:100px" value="@Model.DeleteRoomNumber" asp-action="DeleteRoomNumber" onclick="submit('insertData')">Slet</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="col-lg-2">

                    </div>


                    <div class="col-lg-5">

                    </div>
                </div>
            </div>

        </div>



        @*Footer of the Massdestruction area*@
        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </div>


</form>








