@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.ViewModels.EditStorageLocationModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Placerings Administration";
}


<!--java script to count remaining text in description-->
<script src="~/js/site.js"></script>

@*Blue Oister Bar with search fields*@
<form Asp-action="LocationAdminResult" method="post">
    <div class="row blue-oyster-bar center box-shadow">
        <div class="row">

            <div class="col-xl-1 gx-3 gy-3">
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="buildingDropDown" list="buildings" aria-label="Vælg Bygning" asp-for="@Model.StorageLocation.Location.Building" onchange="submit()">
                    <datalist id="buildings">
                        @foreach (var item in Model.Buildings)
                        {                           
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Bygning:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="roomNumberDropDown" list="roomNumbers" aria-label="Vælg lokalenummer" asp-for="@Model.StorageLocation.Location.RoomNumber" onchange="submit()">
                    <datalist id="roomNumbers">
                        @foreach (var item in Model.RoomNumbers)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Lokale Nr:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfNameDropDown" list="shelfNames" aria-label="Vælg ReolNavn" asp-for="@Model.StorageLocation.ShelfName" onchange="return SubmitValidation()">
                    <datalist id="shelfNames">
                        @foreach (var item in Model.ShelfNames)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol navn:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfLevelDropDown" list="shelfLevels" aria-label="Vælg Etage" asp-for="@Model.StorageLocation.ShelfLevel" onchange="return SubmitValidation()">
                    <datalist id="shelfLevels">
                        @foreach (var item in Model.ShelfLevels)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol Etage:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfSpotDropDown" list="shelfSpots" aria-label="Vælg Hyldeplads" asp-for="@Model.StorageLocation.ShelfSpot" onchange="return SubmitValidation()">
                    <datalist id="shelfSpots">
                        @foreach (var item in Model.ShelfSpots)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Hyldeplads:</label>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>
        <div class="row">
            @{string toolTip = "Alle felter kan oprettes enkeltvis. \n\n" +
                                             "Hvis Bygning og Lokale er udfyldt samtidigt vil der \n" +
                                             "oprettes et Lokale hvis ikke det eksisterer i forvejen.\n\n " +
                                             "Hvis alle felter er udfyldt, vil der oprettes en placering.\n\n" +
                                             "Men kun hvis det ikke findes I forvejen."; }

            <div class="col p-3">
                <button type="button" class="btn btn-primary btn-blue black-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@toolTip">Tilføj Placering</button>
            </div>

        </div>
    </div>


    @* The list of storagelocations maching the search terms *@
    <div class="container containerMain box-shadow">

        <div class="row containerHeader">
            <h4 class="col">Placerings administration</h4>
        </div>

        <div class="row containerSubHeader border-top border-bottom border-white border-1">
            <div class="col-xl-1 col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">Bygning</div>
            <div class="col-xl-1 col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">Lokale</div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Reol</div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Etage</div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1">Plads</div>
        </div>

        <div class="row containerBody">
            <div class="col-xl-1 col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1"><p>Parameter</p></div>
            <div class="col-xl-1 col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1"><p>Parameter</p></div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"><p>Parameter</p></div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1"><p>Parameter</p></div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1"><p>Parameter</p></div>
            <div class="col-lg-3 p-1"></div>
            <div class="col-lg-2 col-6 p-1 center "><button type="button" class="btn btn-primary btn-sm btn-blue" style="width:100px">QR-Kode</button></div>
            <div class="col-lg-2 col-6 p-1 center "><button type="button" class="btn btn-danger btn-sm btn-red" style="width:100px">Slet</button></div>
        </div>

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>

    </div>




    @* The Mass destruction area *@
    <div class="container containerMain box-shadow">
        <div class="row containerHeader">
            <h4 class="col">Masse udrydelse (Work in progress)</h4>
        </div>

        <div class="row containerBody p-1">
            <div class="row">
                <div class="col-xl-4 col-sm-6 gx-3 gy-3">test</div>
            </div>
            <div class="col-1 d-flex align-items-center"><p>Parameter</p></div>
            <div class="col-1 d-flex align-items-center"><p>Parameter</p></div>
            <div class="col-1 d-flex align-items-center"><p>Parameter</p></div>
            <div class="col-1 d-flex align-items-center"><p>Parameter</p></div>
            <div class="col-1 d-flex align-items-center"><p>Parameter</p></div>
            <div class="col-xl-4 col-sm d-flex align-items-center"></div>
            <div class="col-2 center d-flex align-items-center"><button type="button" class="btn btn-primary btn-blue">QR-Kode</button></div>
            <div class="col-1 center d-flex align-items-center"><button type="button" class="btn btn-danger btn-red">Slet</button></div>
        </div>

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </div>


</form>






