@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.ViewModels.EditStorageLocationModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Placerings Administration";
}


<!--java script to count remaining text in description-->
<script src="~/js/site.js"></script>

@*Blue Oister Bar with search fields*@
<form Asp-action="LocationAdminResult" method="post" id="listStorageLocations">
    <div class="row blue-oyster-bar center box-shadow">
        <div class="row">

            <div class="col-xl-1 gx-3 gy-3">
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="buildingDropDown" list="buildings" aria-label="Vælg Bygning" asp-for="@Model.StorageLocation.Location.Building" onchange="submit('listStorageLocations')">
                    <datalist id="buildings">
                        @foreach (var item in Model.Buildings)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Bygning:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="roomNumberDropDown" list="roomNumbers" aria-label="Vælg lokalenummer" asp-for="@Model.StorageLocation.Location.RoomNumber" onchange="submit('listStorageLocations')">
                    <datalist id="roomNumbers">
                        @foreach (var item in Model.RoomNumbers)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Lokale Nr:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfNameDropDown" list="shelfNames" aria-label="Vælg ReolNavn" asp-for="@Model.StorageLocation.ShelfName" onchange="submit('listStorageLocations')">
                    <datalist id="shelfNames">
                        @foreach (var item in Model.ShelfNames)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol navn:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfLevelDropDown" list="shelfLevels" aria-label="Vælg Etage" asp-for="@Model.StorageLocation.ShelfLevel" onchange="submit('listStorageLocations')">
                    <datalist id="shelfLevels">
                        @foreach (var item in Model.ShelfLevels)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Reol Etage:</label>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 gx-3 gy-3">
                <div class="form-floating">
                    <input class="form-select" id="shelfSpotDropDown" list="shelfSpots" aria-label="Vælg Hyldeplads" asp-for="@Model.StorageLocation.ShelfSpot" onchange="submit('listStorageLocations')">
                    <datalist id="shelfSpots">
                        @foreach (var item in Model.ShelfSpots)
                        {
                            <option>@item</option>
                        }
                    </datalist>
                    <label for="floatingSelectGrid">Hyldeplads:</label>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>
        <div class="row">
            @{string toolTip = "Alle felter kan oprettes enkeltvis. \n\n" +
                                                       "Hvis Bygning og Lokale er udfyldt samtidigt vil der \n" +
                                                       "oprettes et Lokale hvis ikke det eksisterer i forvejen.\n\n " +
                                                       "Hvis alle felter er udfyldt, vil der oprettes en placering.\n\n" +
                                                       "Men kun hvis det ikke findes I forvejen."; }

            <div class="col p-3">
                <button type="button" class="btn btn-primary btn-blue black-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@toolTip">Tilføj Placering</button>
            </div>

        </div>
    </div>

    @* The list of storagelocations matching the search terms *@
    <div class="container containerMain box-shadow">
        @*Header of the overview*@
        <div class="row containerHeader">
            <div class="col-lg-2 col-md-3 p-2">
                <select class="headerSortLink" asp-for="@Model.Filter" onchange="submit('listStorageLocations')">
                    <option value="0" selected>Sorter</option>
                    <option value="1">Bygning &#709;</option>
                    <option value="2">Bygning &#708;</option>
                    <option value="3">Lokale &#709;</option>
                    <option value="4">Lokale &#708;</option>
                    <option value="5">Reol &#709;</option>
                    <option value="6">Reol &#708;</option>
                    <option value="7">Etage &#709;</option>
                    <option value="8">Etage &#708;</option>
                    <option value="9">Placering &#709;</option>
                    <option value="10">Placering &#708;</option>
                </select>
            </div>

            <h4 class="col-lg-8 col-md-6 col-12">Placerings administration</h4>

            <div class="col-lg-2 col-md-3 p-2">
            </div>
        </div>


        @*SubHeader of the overview*@
        <div class="row containerSubHeader border-top border-bottom border-white border-1">
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">
                <div class="headerSortLink">
                    Bygning
                </div>
            </div>
            <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Lokale
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Reol
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Etage
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1 headerSortLink">
                <div class="headerSortLink">
                    Placering
                </div>
            </div>
        </div>

        @*Body of the overview*@
        @foreach (var item in Model.StorageLocations)
        {
            <div class="row containerBody border-bottom border-white border-1 alternating_row">
                <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">@item.Location.Building</div>
                <div class="col-lg-1 col-md-3 col-3 p-1 border-end border-white border-1">@item.Location.RoomNumber</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@item.ShelfName</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@item.ShelfLevel</div>
                <div class="col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">@item.ShelfSpot</div>
                <div class="col-lg-3 p-1"></div>
                <div class="col-lg-2 col-6 p-1 center "><button type="button" class="btn btn-primary btn-sm btn-blue" style="width:100px">QR-Kode</button></div>
                <div class="col-lg-2 col-6 p-1 center "><button type="button" class="btn btn-danger btn-sm btn-red" style="width:100px">Slet</button></div>
            </div>

        }

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>

    </div>




    @* The Mass destruction area *@
    <div class="container containerMain box-shadow">


        @*Header of the Massdestruction area*@
        <div class="row containerHeader">
            <h4 class="col">Masseudrydelse</h4>
        </div>


        @*Body of the Massdestruction area*@
        <div class="row containerBody p-1">
            <div class="row">
                <div class="col-lg-4 p-1"></div>


                <div class="col-lg-4 col-sm-12 p-1 text-red center">(Hvis du ikke kender konsekvensen, så lad hellere være)</div>


                <div class="col-lg-4 p-1"></div>
            </div>




            <div class="row">
                <div class="col-lg-5 p-1">Hvis både bygning og lokale nr. er udfyldt, og rummmet ikke er i brug, så kan det slettes​</div>


                <div class="col-lg-2 col-sm-12 p-1"></div>


                <div class="col-lg-5 p-1">
                    Reol navn, etage nr. Og plads nummer kan kun slettes såfremt at der ikke er nogle
                    placeringer hvor de indgår i. Du bør derfor sikre dig at ingen af dem indgår i en placering først
                </div>
            </div>


            <div class="row">
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-4 align-content-center">
                            <div class="row p-1">
                                <div class="dynamic-Font-Size-12 p-1">Bygning:</div>
                                <input class="form-select" id="buildingDropDown" list="buildings" aria-label="building" asp-for="@Model.StorageLocation.Location.Building">
                                <datalist id="buildings">
                                    @foreach (var item in Model.Buildings)
                                    {
                                        <option>@item</option>
                                    }
                                </datalist>
                            </div>
                            <div class="row p-1 align-content-center">
                                <div class="col-lg-2 col-6 ">
                                    <button type="button" class="btn btn-danger btn-sm btn-red center" style="width:100px" asp-action="DeleteBuilding">Slet</button>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="row p-1">
                                <div class="dynamic-Font-Size-12 p-1 center">Valgt Rum:</div>
                                <input readonly type="text" class="form-control" id="selectedRoom" aria-label="Vælg lokalenummer" asp-for="@Model.StorageLocation.Location.RoomNumber">
                            </div>
                            <div class="row p-1">
                                <div class="col-lg-2 col-6 p-1 center ">
                                    <button type="button" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteRoom">Slet</button>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="row p-1">
                                <div class="dynamic-Font-Size-12 p-1 center">Lokale nr:</div>
                                <input class="form-select" id="roomNumberDropDown" list="roomNumbers" aria-label="Vælg lokalenummer" asp-for="@Model.StorageLocation.Location.RoomNumber">
                                <datalist id="roomNumbers">
                                    @foreach (var item in Model.RoomNumbers)
                                    {
                                        <option>@item</option>
                                    }
                                </datalist>
                            </div>
                            <div class="row p-1">
                                <div class="col-lg-2 col-6 p-1 center ">
                                    <button type="button" class="btn btn-danger btn-sm btn-red" style="width:100px" asp-action="DeleteRoomNumberr">Slet</button>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


                <div class="col-lg-2">

                </div>


                <div class="col-lg-5">

                </div>
            </div>

        </div>

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </div>


</form>






