@model HUS_project.Models.BookingModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Rediger Bestilling";
}
<form asp-action="ProcessBookingEditSubmit" method="post" id="processBookingEditSubmit">
    <style>
        p{
            margin-bottom:0px;
        }
    </style>
    <div class="row blue-oyster-bar center box-shadow">
        <div class="row" style="margin-top:15px;">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-6 text-white align-items-center">
                        <h3 style="margin-top:15px;">Bestilling: @Model.BookingID af @Model.Customer</h3>
                        <p class="text-white">@Model.Notes</p>@{Model.Notes = "";}
                        <input type="hidden" name="bookingID" asp-for="BookingID" value="@Model.BookingID" />
                    </div>
                    <div class="col-6">
                        <p class="text-white">Udlån Start:</p>
                        <!-- If start date isn't today or earlier, and you are the one who made the booking, the start date can be moved. -->
                        @if (httpContextAccessor.HttpContext.Session.GetString("uniLogin") == Model.Customer && Model.PlannedBorrowDate.Date > DateTime.Now.Date)
                        {
                            <input name="plannedBorrowDate" asp-for="PlannedBorrowDate" type="date">
                        }
                        else
                        {
                            <!-- StartDate is today or has passed, or you are not the one who booked, thus it cannot be changed. -->
                            <!--<label class="text-white">@Model.PlannedBorrowDate.Date.ToString("dd/MM-yy")</label>-->
                            <input disabled name="plannedBorrowDate" asp-for="PlannedBorrowDate" type="date">
                        }
                        <p class="text-white">Udlån Slut:</p>
                        <!-- If end date isn't today or earlier, and you are the one who made the booking, the end date can be moved. -->
                        @if (httpContextAccessor.HttpContext.Session.GetString("uniLogin") == Model.Customer && Model.PlannedReturnDate.Date > DateTime.Now.Date)
                        {
                            <input name="plannedReturnDate" asp-for="PlannedReturnDate" type="date">
                        }
                        else
                        {
                            <!-- EndDate is today or has passed, or you are not the one who booked, thus it cannot be changed. -->
                            <input disabled name="plannedReturnDate" asp-for="PlannedReturnDate" type="date">

                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <p class="text-white">Leverings Lokale:</p>
                        <!-- If end date is tomorrow or later, and you are the one who made the booking, the location can be changed.
                            !!!!!! Page 22, storage location       !!!!!!!!!!!!!!!!!      -->
                        @if (httpContextAccessor.HttpContext.Session.GetString("uniLogin") == Model.Customer && Model.PlannedReturnDate.Date >= DateTime.Now.Date)
                        {
                            <input type="text" id="location" style="max-width:100%;" asp-for="Location" name="location" value='@Model.Location.Building.@Model.Location.RoomNumber' />

                        }
                        else
                        {
                            <!-- EndDate has passed, or you are not the one who booked, thus it cannot be changed. -->
                            <label class="text-white" id="location" asp-for="Location" name="location">@Model.Location.Building.@Model.Location.RoomNumber</label>
                        }
                    </div>
                    <div class="col-lg-4 col-6">
                        <!--NOTES-->
                        <p class="text-white">Note:</p>
                        @if (DateTime.Now.Date <= Model.PlannedReturnDate)
                        {
                            <textarea id="notes" asp-for="Notes" name="notes"></textarea>
                        }
                        else
                        {
                            <textarea disabled id="notes" asp-for="Notes" name="notes"></textarea>
                        }
                        <style>
                            #notes {
                                height: 70px;
                                max-width: 100%;
                            }
                        </style>
                    </div>
                    <div class="col-lg-4 col-12" style="margin-top: 15px; right:5px;">
                        <div class="row">
                            <div class="col-6">
                                <!-- If return date has not passed, the update button will be available.-->
                                @if (Model.PlannedReturnDate.Date > DateTime.Now.Date && httpContextAccessor.HttpContext.Session.GetString("uniLogin") == Model.Customer)
                                {
                                    <button type="submit" name="updateBooking" value="@Model.BookingID" class="btn btn-primary btn-sm btn-blue" style="margin-bottom: 10px;">
                                        <span>Gem Ændringer</span>
                                    </button>
                                }
                                else
                                {
                                    <button disabled type="submit" name="updateBooking" value="@Model.BookingID" class="btn btn-primary btn-sm btn-dark" style="margin-bottom: 10px;">
                                        <span>Gem Ændringer</span>
                                    </button>
                                }
                            </div>
                            <div class="col-6">
                                <!-- If the planned borrow date has not yet come to pass, and it is the owner of the booking who logged in, then the booking may be deleted by the user.-->
                                @if (Model.Customer == httpContextAccessor.HttpContext.Session.GetString("uniLogin") && Model.PlannedBorrowDate.Date > DateTime.Now.Date)
                                {
                                    <button type="submit" name="deleteBooking" value="@Model.BookingID" class="btn btn-primary btn-sm btn-red alert">
                                        <span>Slet Ordre</span>
                                    </button>
                                }
                                else
                                {
                                    <button disabled type="submit" name="deleteBooking" value="@Model.BookingID" class="btn btn-primary btn-sm btn-dark">
                                        <span>Slet Ordre</span>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (httpContextAccessor.HttpContext.Session.GetString("bookingEditSuccess") != null && httpContextAccessor.HttpContext.Session.GetString("bookingEditSuccesses") != "")
            {
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h4 class="text-bold" style="color:limegreen">
                            @httpContextAccessor.HttpContext.Session.GetString("bookingEditSuccess")
                        </h4>
                    </div>
                </div>
                httpContextAccessor.HttpContext.Session.SetString("bookingEditSuccesses", "");
            }

            @if (httpContextAccessor.HttpContext.Session.GetString("bookingEditError") != null && httpContextAccessor.HttpContext.Session.GetString("bookingEditError") != "")
            {
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h4 class="alert text-red">
                            @httpContextAccessor.HttpContext.Session.GetString("bookingEditError")
                        </h4>
                    </div>
                </div>
                httpContextAccessor.HttpContext.Session.SetString("bookingEditError", "");
            }

        </div>
    </div>

    <div class="container containerMain box-shadow">

        <div class="row containerHeader">
            <h4>Hvad der er bestilt:</h4>
        </div>
        <div class="row containerBody">
            <div class="col-1"></div>
            <div class="col-11 row">
                @if (Model.PlannedBorrowDate.Date > DateTime.Now.Date)
                {
                    for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <div class="col-6">
                            <div class="row">
                                <div class="col-8 center">(@Model.Items[i].Model.Category.Category) @Model.Items[i].Model.ModelName <input type="hidden" asp-for="@Model.Items[i].Model.ModelName" /> <input type="number" asp-for="@Model.Items[i].Quantity" /> Stk.</div>
                                <button type="submit" name="deleteItemLine" value="@Model.Items[i].Model.ModelName" class="col-4 btn btn-primary btn-sm btn-red alert" style="width:100px">
                                    <span>Slet Varelinje</span>
                                </button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <div class="col-6 center">(@Model.Items[i].Model.Category.Category) @Model.Items[i].Model.ModelName <input type="hidden" asp-for="@Model.Items[i].Model.ModelName" /> <input type="hidden" asp-for="@Model.Items[i].Quantity" /> - @Model.Items[i].Quantity Stk.</div>
                    }
                }

            </div>
        </div>
        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </div>
</form>