@model HUS_project.Models.ViewModels.BookedDevicesCRUModel;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Skan Enheder";
}
<div class="row blue-oyster-bar box-shadow">

    <!--   Header in blue oisterbar -->
    <div class="col-lg-12 d-flex justify-content-center">

        @if (Model.Booking.DeliveredBy != null)
        {
            <h2 class="text-white align-items-center">
                Returner enheder fra booking nr. @Model.Booking.BookingID
            </h2>
        }
        else
        {
            <h2 class="text-white align-items-center">
                Lever enheder til booking nr. @Model.Booking.BookingID
            </h2>
        }
    </div>


    <!--   info in line two in blue oisterbar -->
    <div class="col-xxl-1"></div>
    <div class="col-xxl-2 col-6 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Levering: </span><span>@Model.Booking.PlannedBorrowDate.ToString("MM\\/dd yyyy")</span></p>
    </div>
    <div class="col-xxl-2 col-6 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Afhentning: </span><span>@Model.Booking.PlannedReturnDate.ToString("MM\\/dd yyyy")</span></p>
    </div>
    <div class="col-xxl-2 col-4 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Bestilt af: </span><span>@Model.Booking.Customer</span></p>
    </div>
    <div class="col-xxl-2 col-4 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Lokale: </span><span>@Model.Booking.Location.Building.@Model.Booking.Location.RoomNumber</span></p>
    </div>
    <div class="col-xxl-2 col-4 text-white d-flex justify-content-center">
        @if (Model.Booking.DeliveredBy != null)
        {
            <p><span class="fw-bold">Leveret af: </span><span>@Model.Booking.DeliveredBy</span></p>
        }
    </div>
    <div class="col-xxl-1"></div>


    <!--   Buttons and inputfield in blue oisterbar -->
    <div class="col-xxl-1 col-xl-1"></div>

    <div class="col-xxl-7 col-xl-7 col-lg-8 col-md-12">

        <div class="row p-2">

            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3 d-flex justify-content-center align-items-center">
                @using (Html.BeginForm("GoToScanDevice", "Booking"))
                {
                    <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                        <span>Skan QR<br />på enhed</span>
                    </button>
                }
            </div>

            <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-3 col-sm-3 col-2 text-white d-flex justify-content-center align-items-center fw-bold">eller indtast</div>

            <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-6 col-sm-6 col-7">
                @using (Html.BeginForm("ProcessDeviceForBooking", "Booking"))
                {
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-sm-6 col-5">
                            <div class="form-floating">
                                <input class="form-control" name="deviceID" id="deviceId" type="number" style="width:95px" />
                                <label>Enheds ID:</label>
                            </div>
                        </div>

                        <div class="col-1 d-block d-sm-none"></div>

                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-6 col-6 d-flex align-items-center">
                            <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                                @if (Model.Booking.DeliveredBy != null)
                                {
                                    <span>Vælg<br />Enhed</span>
                                }
                                else
                                {
                                    <span>Vælg<br />Enhed</span>
                                }
                            </button>
                        </div>

                        <div class="col-lg-4 d-none d-lg-block"></div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-12">
        <div class="row p-2">

            <div class="col-xl-6 col-lg-6 col-md-6 col-6 d-flex justify-content-center align-items-center">
                @using (Html.BeginForm("GoToBooking", "Booking"))
                {
                    @if (Model.Booking.DeliveredBy != null)
                    {
                        <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                            <span>Se<br />Booking</span>
                        </button>
                    }
                    else
                    {
                        <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                            <span>Rediger<br />Booking</span>
                        </button>
                    }
                }
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6 d-flex justify-content-center align-items-center">
                @using (Html.BeginForm("DeliverBooking", "Booking"))
                {

                    @if ((Model.Booking.DeliveredBy == null || Model.Booking.DeliveredBy == "") && Model.Booking.Devices.Count > 0)
                    {
                        <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                            <span>Lever<br />Ordre</span>
                        </button>
                    }
                    else
                    {
                        <button type="submit" disabled class="btn btn-primary btn-sm btn-dark" style="width:95px">
                            <span>Afslut<br />levering</span>
                        </button>
                    }
                }
            </div>
        </div>
    </div>

    <!-- Error Handling, if any -->
    <div class="col-12" style="align-content:center; margin-top:8px;" id="bookedDeviceError">
        @if (httpContextAccessor.HttpContext.Session.GetString("bookedDeviceError") != null && httpContextAccessor.HttpContext.Session.GetString("bookedDeviceError") != "")
        {



            <p style="text-align:center; padding:5px; background-color:indianred; border-radius:8px; border-width:3px; border-style:solid; border-color:darkred;">@httpContextAccessor.HttpContext.Session.GetString("bookedDeviceError").ToString()</p>

            httpContextAccessor.HttpContext.Session.SetString("bookedDeviceError", "");
        }
    </div>
    <div class="col-xxl-1 col-xl-1"></div>
</div>











<!-- Listing The itemlines -->
<div class="container containerMain box-shadow">
    <div class="row containerHeader">
        <div class="col">

            <h4 class="col">Varelinjer</h4>
        </div>
    </div>

    <div class="row containerSubHeader border-top border-bottom border-white border-1">
        <div class="col-xl-4 col-12 p-1 border-end border-white border-1 border-lg-hide-right">Model</div>
        <div class="col-xl-3 col-5 p-1 border-end border-white border-1">Bestilt / Leveret / Afleveret</div>
        <div class="col-xl-3 col-4 p-1 border-end border-white border-1">Placering</div>
        <div class="col-xl-1 col-3 p-1">Beholdning</div>
    </div>

    @foreach (ItemLineModel ilm in Model.Booking.Items)
    {
        <div class="row containerBody border-bottom border-white border-1 alternating_row">
            <div class="col-xl-4 col-12 p-1 border-end border-white border-1 border-lg-hide-right">(@ilm.Model.Category.Category)&nbsp;<span class="fw-bold">@ilm.Model.ModelName</span></div>
            @{
                int countOfBookedDevices = 0;
                int countOfReturnedBookedDevices = 0;
                foreach (DeviceModel device in Model.Booking.Devices)
                {
                    if (device.Model.ModelName == ilm.Model.ModelName)
                    {
                        countOfBookedDevices++;
                        if (device.ReturnedBy != null && device.ReturnedBy != "")
                        {
                            countOfReturnedBookedDevices++;
                        }
                    }
                }
                <div class="col-xl-3 col-5 p-1 border-end border-white border-1">
                    @ilm.Quantity / @countOfBookedDevices / @countOfReturnedBookedDevices
                </div>
                foreach (ItemLineModel item in Model.ModelsInStorage)
                {
                    if (item.Model.ModelName == ilm.Model.ModelName)
                    {
                        if (item.Quantity > 0)
                        {
                            <div class="col-xl-3 col-4 border-end border-white border-1">
                                @Model.StorageLocations[item.Model.ModelName].Location.Building.@Model.StorageLocations[item.Model.ModelName].Location.RoomNumber &nbsp;_&nbsp;
                                @Model.StorageLocations[item.Model.ModelName].ShelfName.@Model.StorageLocations[item.Model.ModelName].ShelfLevel.@Model.StorageLocations[item.Model.ModelName].ShelfSpot
                            </div>
                            <div class="col-xl-1 col-3 p-1">
                                @item.Quantity
                            </div>
                        }
                        else
                        {
                            // If there are none of this model in storage, storagelocation is Null!
                            <div class="col-xl-3 col-4 border-end border-white border-1">
                                -.- &nbsp;_&nbsp; -.-.-
                            </div>
                            <div class="col-xl-1 col-3 p-1">
                                @item.Quantity
                            </div>
                        }
                        break;
                    }

                }
            }
        </div>
    }


    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>

<!--   Listing units -->
<div class="container containerMain box-shadow">
    <div class="row containerHeader">
        <h4 class="col">Enheder</h4>
    </div>

    @foreach (ItemLineModel ilm in Model.Booking.Items)
    {
        bool modelHasDevices = false;

        <div class="row containerSubHeader border-top border-bottom border-white border-1">
            <h4 class="col-12 center">(@ilm.Model.Category.Category) @ilm.Model.ModelName</h4>
            <div class="col-2 p-1 border-end border-white border-1">ID</div>
            <div class="col-5 p-1 border-end border-white border-1">Serienummer</div>
            <div class="col-5 p-1 border-white border-1">Status</div>
        </div>



        @foreach (DeviceModel device in Model.Booking.Devices)
        {
            if (device.Model.ModelName == ilm.Model.ModelName)
            {
                modelHasDevices = true;

                <div class="row containerBody border-bottom border-white border-1 alternating_row">
                    <div class="col-md-2 col-3 p-1 border-end border-white border-1">@device.DeviceID</div>
                    <div class="col-md-5 col-6 p-1 border-end border-white border-1">@device.SerialNumber</div>
                    <div class="col-md-3 col-3 p-1 border-white border-1">

                        @if (device.ReturnedBy != null && device.ReturnedBy != "")
                        {
                            <span>Returneret</span>
                        }
                        else if (Model.Booking.DeliveredBy == null || Model.Booking.DeliveredBy == "")
                        {
                            <span>Afventer Levering</span>
                        }
                        else
                        {
                            <span>Leveret</span>
                        }
                    </div>
                    <div class="col-md-2 col-12 p-1 border-end border-white border-1 center">
                        @using (Html.BeginForm("EditView", "Device"))
                        {
                            <button type="submit" name="submit" value="@device.DeviceID" class="btn btn-primary btn-sm btn-blue" style="width:90px">
                                <span>Se Enhed</span>
                            </button>
                        }
                    </div>
                </div>
            }

        }
        if (!modelHasDevices)
        {
            <div class="row containerBody border-bottom border-white border-1 alternating_row">
                <div class="col-12">&nbsp;</div>

            </div>
        }


    }


    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>
