@model HUS_project.Models.BookingModel
@{
    ViewData["Title"] = "Rediger Bestilling";
}
<div class="row blue-oyster-bar center box-shadow">
    <div class="row g-2">
        <div class=" text-white align-items-center">
            <h2 style="margin-top:30px;">Bestilling: @Model.BookingID af @Model.Customer</h2>
        </div>
        
    </div>
</div>

<div class="container containerMain box-shadow">

    <div class="row containerHeader">
        <h4>Hvad der er bestilt:</h4>
    </div>
    <div class="row containerBody">
        <div class="col-1"></div>
        <div class="col-11 row">
            @foreach (ItemLineModel ilm in Model.Items)
            {
                <div class="col-5 center">(@ilm.Model.Category.Category) @ilm.Model.ModelName - @ilm.Quantity</div>
            }
        </div>
    </div>
    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>