@model HUS_project.Models.ViewModels.BookedDevicesCRUModel;
@{
    ViewData["Title"] = "Skan Enheder";
}
<div class="row blue-oyster-bar center box-shadow">
    <div class="row g-2">
        <div class="row">
            @if (Model.Booking.PlannedReturnDate <= DateTime.Now && Model.Booking.DeliveredBy != null)
            {
                <h2 class="text-white align-items-center">
                    Lever enheder til bestillingen
                </h2>
            }
            else
            {
                <h2 class="text-white align-items-center">
                    Returner enheder fra bestillingen
                </h2>
            }
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-5 text-white border-1 border-end border-white" style="margin-bottom:5px;">
                <div class="row">
                    <p>Bestillingsnummer: <span class="fw-bold">@Model.Booking.BookingID</span> | Bestiller: <span class="fw-bold">@Model.Booking.Customer</span> | Lokale: <span class="fw-bold">@Model.Booking.Location.Building.@Model.Booking.Location.RoomNumber</span></p>
                </div>
                <div class="row">
                    <p>Fra d. <span class="fw-bold">@Model.Booking.PlannedBorrowDate.ToString("dd-MM/yy")</span> til og med d. <span class="fw-bold">@Model.Booking.PlannedReturnDate.ToString("dd-MM/yy")</span></p>
                </div>
                @if(Model.Booking.DeliveredBy != null)
                {
                    <div class="row">
                        <p>Leveret af: <span class="fw-bold">@Model.Booking.DeliveredBy</span></p>
                    </div>
                }
            </div>
            <div class="col-5">
                <div class="row">
                    <h4 class="text-white">Skan QR kode / indtast enheds ID:</h4>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-0 col-sm-0 p-1"></div>
                    <input class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 col-sm-12 p-1" type="text" />
                </div>
                <div>
                    <button class="btn-blue">Submit</button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="container containerMain box-shadow">

    <div class="row containerHeader">
        <h4 class="col">Enheder sat på bestillingen:</h4>
    </div>

    <div class="row containerSubHeader border-top border-bottom border-white border-1">
        
    </div>

    <div class="row containerBody">
        <p>SUCC SUCC SUCC SUCC SUCC</p>

    </div>

    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>
