@model HUS_project.Models.ViewModels.BookedDevicesCRUModel;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Skan Enheder";
}
<div class="row blue-oyster-bar box-shadow">


    @*<div class="row center g-2 ">*@
    <div class="col-lg-12 d-flex justify-content-center">

        @if (Model.Booking.DeliveredBy != null)
        {
            <h2 class="text-white align-items-center">
                Returner enheder fra booking nr. @Model.Booking.BookingID
            </h2>
        }
        else
        {
            <h2 class="text-white align-items-center">
                Lever enheder til booking nr. @Model.Booking.BookingID
            </h2>
        }
    </div>





    <div class="col-xxl-1"></div>
    <div class="col-xxl-2 col-6 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Levering: </span><span>@Model.Booking.PlannedBorrowDate.ToString("MM\\/dd yyyy")</span></p>
    </div>
    <div class="col-xxl-2 col-6 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Afhentning: </span><span>@Model.Booking.PlannedReturnDate.ToString("MM\\/dd yyyy")</span></p>
    </div>
    <div class="col-xxl-2 col-4 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Bestilt af: </span><span>@Model.Booking.Customer</span></p>
    </div>
    <div class="col-xxl-2 col-4 text-white d-flex justify-content-center">
        <p><span class="fw-bold">Lokale: </span><span>@Model.Booking.Location.Building.@Model.Booking.Location.RoomNumber</span></p>
    </div>
    <div class="col-xxl-2 col-4 text-white d-flex justify-content-center">
        @if (Model.Booking.DeliveredBy != null)
        {
            <p><span class="fw-bold">Leveret af: </span><span>@Model.Booking.DeliveredBy</span></p>
        }
    </div>
    <div class="col-xxl-1"></div>









    <div class="col-xxl-1 col-xl-1"></div>

    <div class="col-xxl-7 col-xl-7 col-lg-8 col-md-12">

        <div class="row p-2">

            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3 d-flex justify-content-center align-items-center">
                @using (Html.BeginForm("GoToScanDevice", "Booking"))
                {
                    <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                        <span>Skan QR<br />på enhed</span>
                    </button>
                }
            </div>

            <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-3 col-sm-3 col-2 text-white d-flex justify-content-center align-items-center fw-bold">eller indtast</div>

            <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-6 col-sm-6 col-7">
                @using (Html.BeginForm("ProcessDeviceForBooking", "Booking"))
                {
                    <div class="row">

                        @* <div class="col-3 d-block d-sm-none"></div>*@

                        <div class="col-xl-4 col-lg-4 col-sm-6 col-5">
                            <div class="form-floating">
                                <input class="form-control" name="deviceID" id="deviceId" type="number" style="width:95px" />
                                <label>Enheds ID:</label>
                            </div>
                        </div>

                        <div class="col-1 d-block d-sm-none"></div>

                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-6 col-6 d-flex align-items-center">
                            <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                                @if (Model.Booking.DeliveredBy != null)
                                {
                                    <span>Vælg<br />Enhed</span>
                                }
                                else
                                {
                                    <span>Vælg<br />Enhed</span>
                                }
                            </button>
                        </div>

                        <div class="col-lg-4 d-none d-lg-block"></div>
                        @*   <div class="col-3 d-block d-sm-none"></div>*@
                    </div>
                }
            </div>
            @*<div class="col-xxl-3 col-xl-2 col-lg-1 d-none d-lg-block d-xl-block d-xxl-block"></div>*@
        </div>
    </div>



    <div class="col-xl-3 col-lg-4 col-md-12">
        <div class="row p-2">

            @*    <div class="col-md-3 d-none d-sm-block d-lg-none"> </div>*@

            <div class="col-xl-6 col-lg-6 col-md-6 col-6 d-flex justify-content-center align-items-center">
                @using (Html.BeginForm("GoToBooking", "Booking"))
                {
                    <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                        <span>Rediger<br />Booking</span>
                    </button>
                }
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-6 d-flex justify-content-center align-items-center">
                @using (Html.BeginForm("DeliverBooking", "Booking"))
                {

                    @if ((Model.Booking.DeliveredBy == null || Model.Booking.DeliveredBy == "") && Model.Booking.Devices.Count > 0)
                    {
                        <button type="submit" name="bookingID" value="@Model.Booking.BookingID" class="btn btn-primary btn-sm btn-blue" style="width:95px">
                            <span>Lever<br />Ordre</span>
                        </button>
                    }
                    else
                    {
                        <button type="submit" disabled class="btn btn-primary btn-sm btn-dark" style="width:95px">
                            <span>Afslut<br />levering</span>
                        </button>
                    }
                }
            </div>


            @*   <div class="col-md-3 d-none d-sm-block d-lg-none"> </div>*@





            @if (httpContextAccessor.HttpContext.Session.GetString("bookedDeviceError") != null && httpContextAccessor.HttpContext.Session.GetString("bookedDeviceError") != "")
            {
                <div class="col-12" style="align-content:center; margin-top:8px;" id="bookedDeviceError">

                    <!-- Error Handling, if any -->


                    <p style="text-align:center; padding:5px; background-color:indianred; border-radius:8px; border-width:3px; border-style:solid; border-color:darkred;">@httpContextAccessor.HttpContext.Session.GetString("bookedDeviceError").ToString()</p>

                    httpContextAccessor.HttpContext.Session.SetString("bookedDeviceError", "");
                </div>
            }

        </div>
    </div>
    <div class="col-xxl-1 col-xl-1"></div>
</div>











<!-- Listing The tasks -->
<div class="container containerMain box-shadow">
    <div class="row containerHeader">
        <div class="col">

            <h4 class="col">Varelinjer</h4>
        </div>
    </div>

    <div class="row containerSubHeader border-top border-bottom border-white border-1">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-8 p-1 center border-end border-white border-1">Model</div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 p-1 center border-end border-white border-1">Bestilt / Leveret / Afleveret</div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 p-1 center">Lagerbeholdning / Lokation</div>
        </div>
    </div>

    <div class="row containerBody">
        @foreach (ItemLineModel ilm in Model.Booking.Items)
        {
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-8 p-1 border-end border-white border-1">(@ilm.Model.Category.Category) @ilm.Model.ModelName</div>
                @{
                    int countOfBookedDevices = 0;
                    int countOfReturnedBookedDevices = 0;
                    foreach (DeviceModel device in Model.Booking.Devices)
                    {
                        if (device.Model.ModelName == ilm.Model.ModelName)
                        {
                            countOfBookedDevices++;
                            if (device.ReturnedBy != null && device.ReturnedBy != "")
                            {
                                countOfReturnedBookedDevices++;
                            }
                        }
                    }
                    <div class="col-xl-2 col-lg-2 col-md-2 col-4 p-1 border-end border-white border-1 center">
                        @ilm.Quantity / @countOfBookedDevices / @countOfReturnedBookedDevices
                    </div>
                    foreach (ItemLineModel item in Model.ModelsInStorage)
                    {
                        if (item.Model.ModelName == ilm.Model.ModelName)
                        {
                            if (item.Quantity > 0)
                            {
                                <div class="col-xl-2 col-lg-2 col-md-2 col-4 p-1 center">
                                    @item.Quantity / @Model.StorageLocations[item.Model.ModelName].Location.Building.@Model.StorageLocations[item.Model.ModelName].Location.RoomNumber
                                    @Model.StorageLocations[item.Model.ModelName].ShelfName.@Model.StorageLocations[item.Model.ModelName].ShelfLevel.@Model.StorageLocations[item.Model.ModelName].ShelfSpot
                                </div>
                            }
                            else
                            {
                                // If there are none of this model in storage, storagelocation is Null!
                                <div class="col-xl-2 col-lg-2 col-md-2 col-4 p-1 center">
                                    @item.Quantity / -.- -.-.-
                                </div>
                            }
                            break;
                        }

                    }
                }
            </div>
        }

    </div>

    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>

<div class="container containerMain box-shadow">
    <div class="row containerHeader">
        <div class="col">
            <h4 class="col">Enheder</h4>
        </div>
    </div>

    <div class="row containerBody">
        @foreach (ItemLineModel ilm in Model.Booking.Items)
        {
            <div class="row">
                <div class="row containerSubHeader border-top border-bottom border-white border-1">
                    <h4 class="center col">(@ilm.Model.Category.Category) @ilm.Model.ModelName</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="row">
                        @foreach (DeviceModel device in Model.Booking.Devices)
                        {
                            if (device.Model.ModelName == ilm.Model.ModelName)
                            {
                                <div class="col-5 border-white border border-2" style="padding:3px; margin:3px;">
                                    <span class="center">
                                        <p class="center">
                                            @device.DeviceID (SNR: @device.SerialNumber) -
                                            @if (device.ReturnedBy != null && device.ReturnedBy != "")
                                            {
                                                <span>Returneret</span>
                                            }
                                            else if (Model.Booking.DeliveredBy == null || Model.Booking.DeliveredBy == "")
                                            {
                                                <span>Afventer Levering</span>
                                            }
                                            else
                                            {
                                                <span>Leveret</span>
                                            }
                                        </p>
                                        @using (Html.BeginForm("EditView", "Device"))
                                        {
                                            <button type="submit" name="submit" value="@device.DeviceID" class="btn btn-primary btn-sm btn-blue" style="width:100px">
                                                <span>Se Enhed</span>
                                            </button>
                                        }
                                    </span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>
</div>
