@model HUS_project.Models.ViewModels.CreateBookingModel
@{
    ViewData["Title"] = "Inspicer";
}

<script src="~/js/Inventory.js"></script>

<div class="blue-oyster-bar">

    <form action="InventorySearch" method="post" id="searchform">

        <div class="row">

            <div class="col-2"></div>


            <div class="col-8">

                <div class="row">

                    <div class="col-3">

                        <div class="form-floating">
                            <select class="form-select" id="categories" asp-for="@Model.SearchModel.Category" onchange="this.form.submit()" required>
                                <option></option>
                                @foreach (var item in Model.CategoryDropdown)
                                {
                                    <option>@item</option>
                                }

                            </select>
                            <label>vælg kategori</label>
                        </div>

                    </div>



                    @*Borrow from this date*@
                    <div class="col-3">
                        <input placeholder="Vælg Dato" type="date" DateTimeFormat="d/M/yyyy" onfocus="ClearTimeout()" onfocusout="SetTimeout()" class="date" asp-for="@Model.SearchModel.RentDate">
                    </div>

                    @*Borrow until this date*@
                    <div class="col-3">
                        <input placeholder="Vælg Dato" type="date" DateTimeFormat="d/M/yyyy" onfocus="ClearTimeout()" onfocusout="SetTimeout()" class="date" asp-for="@Model.SearchModel.ReturnDate">
                    </div>

                    <div class="col-3">

                        <div class="form-floating">
                            <select class="form-select" id="locations" asp-for="@Model.Location" onchange="SendLocationToForm()" required>
                                <option hidden></option>
                                @foreach (var item in Model.LocationDropdown)
                                {
                                    <option>@item</option>
                                }

                            </select>
                            <label>Leveringssted</label>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col">

                        <div class="form-floating mb-sm-1">
                            <input type="search" class="form-control" asp-for="@Model.SearchModel.SearchName" id="searchbar" onkeyup="SetTimeout()" onkeydown="ClearTimeout()" placeholder="name@example.com">
                            <label for="searchbar">søg efter enhed:</label>
                        </div>

                    </div>

                </div>

            </div>



            <div class="col-2">

                <div class="row">
                    <button type="submit" class=" btn-primary btn Button-Size btn-sm" asp-action="CreateBooking">Bestil</button>
                </div>

                <div class="row">
                    <div class="col-12">


                        <label class="text-white" id="basket">enheder i kurven @Model.BasketCount</label>




                    </div>

                </div>





            </div>

        </div>

        <!--model binding of itemlines-->
        @for (int n = 0; n < Model.ItemLines.Count; n++)
        {
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelID" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelName" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelDescription" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.Category.Category" />
            <input type="hidden" id=@("searchOutput_"+n) asp-for="@Model.ItemLines[n].Quantity" />

        }

        <input type="hidden" id="basketHidden" asp-for="@Model.BasketCount" />

    </form>
    @*SEARCH FORM END*@



</div>

<!--container listing search results-->
<div class="container containerMain box-shadow">
    <form asp-action="AddToBasket" method="post">

        <div class="row containerHeader">
            <h4 class="col">@Model.ModelName</h4>
        </div>

        @*<div class="row containerSubHeader border-top border-bottom border-white border-1 dynamic-Font-Size-10">

            <div class="col-md-3 col-6 p-1 border-end border-white border-1">model navn</div>
            <div class="col-md-1 col-4 p-1 border-white border-1"></div>

        </div>*@



        <input type="hidden" id="location" asp-for="@Model.Location" />

        @for (int i = 0; i < Model.ItemLines.Count; i++)
        {
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelID" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelName" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelDescription" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.Category.Category" />
            <input type="hidden" id="test" asp-for="@Model.ItemLines[i].Quantity" />
            <input type="hidden" id=@("stock_" + i) asp-for="@Model.InventoryBooking[i].InStock[0]" />

        }

    <div class="row containerBody alternating_row dynamic-Font-Size-10">

       @* <div class=" col-md-3 col-6 p-1 border-end border-white border-1">@Model.ItemLines[i].Model.ModelName</div>*@



        <div class="col-md-2 col-2 p-1 border-white border-1 center">

            <div class="row">

                <div class="col-12">
                    <div class="input-group input-group-sm mb-2">

                        <input type="number" class="form-control" name="input" id=@("input_"+0) value="0" onchange="SendValueToButton("Inspicer")" min="0" />

                    </div>
                </div>







            </div>

            <div class="row center">

                <div class="col-6">
                    @if (Model.ItemLines.Count > 0)
                    {

                        int basketCount = 0;
                        for (int k = 0; k < Model.ItemLines.Count; k++)
                        {
                            if (Model.ItemLines[k].Model.ModelID == Model.InventoryBooking[0].ModelID)
                            {
                                basketCount = Model.ItemLines[k].Quantity;

                            }
                        }

                        if (basketCount > 0)
                        {
                            <div class=" text-green">@basketCount</div>
                        }
                    }
                    else
                    {
                        <div>&nbsp;</div>
                    }
                </div>

                <div class="col-6">

                    <button class="btn btn-primary btn-sm btn-blue" type="submit" name="submitData" id=@("basket_"+0) value="@Model.InventoryBooking[0].ModelID">Tilføj til Kurv </button>

                </div>

                <!--create message to show quantity is larger than stock-->
                @if (ViewBag.quantityError != null && Model.InventoryBooking[0].ModelID == ViewBag.id)
                {
                    <div class="col-12 text-red">@ViewBag.quantityError&nbsp;</div>
                }

            </div>



        </div>

    </div>


        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </form>
</div>
