@model HUS_project.Models.ViewModels.CreateBookingModel
@{
    ViewData["Title"] = "Inspicer";
}

<script src="~/js/Inventory.js"></script>

<form action="InventorySearch" method="post" id="searchform">

    <div class="row  center box-shadow blue-oyster-bar">

        <div class="col-lg-1"></div>

        @*Borrow from this date*@
        <div class="col-lg-2 col-md-3 col-sm-6 g-3 ">

            <div class="form-floating">

                <input placeholder="Vælg Dato" type="date" onfocus="ClearTimeout()" onfocusout="SetTimeout()" id="startDate" class="form-select" asp-for="@Model.SearchModel.RentDate">
                <label for="startDate">start dato:</label>

            </div>

        </div>

        @*Borrow until this date*@
        <div class="col-lg-2 col-md-3 col-sm-6 g-3 ">

            <div class="form-floating">
                <input placeholder="Vælg Dato" type="date" onfocus="ClearTimeout()" id="endDate" onfocusout="SetTimeout()" class="form-select" asp-for="@Model.SearchModel.ReturnDate">
                <label for="endDate">slut dato:</label>
            </div>

        </div>

        <!--select categories-->
        <div class="col-lg-1 col-md-3 col-sm-6 g-3">

            <div class="form-floating">
                <select class="form-select" id="category" asp-for="@Model.SearchModel.Category" onchange="this.form.submit()">
                    <option></option>
                    @foreach (var item in Model.CategoryDropdown)
                    {
                        <option>@item</option>
                    }

                </select>
                <label for="category">kategori</label>
            </div>

        </div>

        <!--select location-->
        <div class="col-lg-1 col-md-3 col-sm-6 g-3">

            <div class="form-floating">
                <select class="form-select" id="locations" asp-for="@Model.Location" onchange="SendLocationToForm()" required>
                    <option hidden></option>
                    @foreach (var item in Model.LocationDropdown)
                    {
                        <option>@item</option>
                    }

                </select>
                <label for="locations">Leveringssted</label>
            </div>

        </div>

        <!--searchBar-->
        <div class="col-lg-4 col-md-6 col-sm-12 g-3">

            <div class="form-floating mb-sm-1">
                <input type="search" class="form-control" asp-for="@Model.SearchModel.SearchName" id="searchBar" onkeyup="SetTimeout()" onkeydown="ClearTimeout()" placeholder="name@example.com">
                <label for="searchBar">søg efter enhed:</label>
            </div>

        </div>

        <div class="col-lg-1 d-block d-none"></div>

        <!--To basket button-->
        <div class="col-lg-12 col-md-6 col-sm-12 p-3 g-md-2">

            <button type="submit" class="btn btn-primary btn-blue btn-sm" asp-action="MyBasket">Se Kurv (@Model.BasketCount)</button>

        </div>





        <!--model binding of itemlines-->
        @for (int n = 0; n < Model.ItemLines.Count; n++)
        {
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelID" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelName" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelDescription" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.Category.Category" />
            <input type="hidden" id=@("searchOutput_" + n) asp-for="@Model.ItemLines[n].Quantity" />

        }

        <input type="hidden" id="basketHidden" asp-for="@Model.BasketCount" />
        <input type="hidden" id="modelNameHidden" asp-for="@Model.ModelName" />
        <input type="hidden" id="modelIdHidden" asp-for="@Model.ModelID" />

    </div>

</form>

<!--container listing selected model-->
<div class="container containerMain box-shadow">
    <form asp-action="InspectToBasket" method="post">

        <div class="row containerHeader">
            <h4 class="col">@Model.ModelName</h4>
        </div>

        <!--calculate remaining in stock-->
        @{int quantity = 0;}
        @*@{int difference = 0;}*@
        @{int index = -1;}
        @if (Model.ItemLines.Count > 0)
        {
            for (int i = 0; i < Model.ItemLines.Count; i++)
            {
                if (Model.ModelID == Model.ItemLines[i].Model.ModelID)
                {
                    quantity = Model.ItemLines[i].Quantity;
                    index = i;
                    break;
                }
            }
        }

        @*@if (quantity > 0)
            {
                difference = Model.InventoryBooking[0].InStock[0] - quantity;
            }*@


        <input type="hidden" id="location" asp-for="@Model.Location" />

        @for (int i = 0; i < Model.ItemLines.Count; i++)
        {
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelID" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelName" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelDescription" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.Category.Category" />
            <input type="hidden" id="test" asp-for="@Model.ItemLines[i].Quantity" />

        }


        <div hidden id=@("stock_" + Model.ModelID)>@Model.InventoryBooking[0].InStock[0]</div>
        <input type="hidden" id="modelNameHidden" asp-for="@Model.ModelName" />
        <input type="hidden" id="modelIdHidden" asp-for="@Model.ModelID" />

        <div class="row containerBody alternating_row dynamic-Font-Size-10">

            <!--image of model-->
            <div class="col-md-4 col-4 p-1 border-white border-1 center">
                <div>

                    @if (Model.InventoryBooking[0].ImagePath != null)
                    {
                        <img class="img-bg" src="@Url.Content(Model.InventoryBooking[0].ImagePath)" style="width: 65%" />
                    }
                    else
                    {
                        <img class="img-bg" src="~/Graphic/missing_image.png" style="width: 65%" />
                    }
                </div>
            </div>

            <!--description of model-->
            <div class="col-md-4 col-4 p-1 border-white border-1 center">

                <h5>Beskrivelse</h5>

                <label>@Model.InventoryBooking[0].Description</label>
            </div>

            <!--quantity setting-->
            <div class="col-md-4 col-4 p-1 border-white border-1 center">

                <div class="row">

                    <div class="col-5">
                        <div class="input-group input-group-sm mb-2">

                            @if (Model.ItemLines.Count > 0 && index >= 0)
                            {
                                <input type="number" class="form-control" name="input" id=@("input_" + Model.ModelID) value="@Model.ItemLines[index].Quantity" onchange="SendValueToButton('Inspicer')" min="0" max="@Model.InventoryBooking[0].InStock[0]" />

                            }
                            else
                            {
                                <input type="number" class="form-control" name="input" id=@("input_" + Model.ModelID) value="0" onchange="SendValueToButton('Inspicer')" min="0" max="@Model.InventoryBooking[0].InStock[0]" />

                            }


                        </div>
                    </div>

                    <div class="col-2">
                        @if (Model.ItemLines.Count > 0 && index >= 0)
                        {
                            <div class=" text-green">@(Model.ItemLines[index].Quantity + "/" + Model.InventoryBooking[0].InStock[0])</div>
                        }
                        else
                        {
                            <div class=" text-green">@(quantity + "/" + Model.InventoryBooking[0].InStock[0])</div>

                        }
                    </div>

                    <div class="col-5">

                        <button class="btn btn-primary btn-sm btn-blue" type="submit" name="submitData" id=@("basket_"+Model.ModelID) value="@Model.ModelID">Opdater Kurv </button>

                    </div>


                </div>

                <!--input field-->
                <div class="row">

                    <div class="col-12">

                    </div>

                </div>

                <!--update basket with info text-->
                <div class="row center">

                    <!--create message to show quantity is larger than stock-->
                    @if (ViewBag.quantityError != null && Model.InventoryBooking[0].ModelID == ViewBag.id)
                    {
                        <div class="col-12 text-red">@ViewBag.quantityError&nbsp;</div>
                    }

                </div>

            </div>

        </div>


        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </form>
</div>

<!--container showing inventory-->
<div class="container containerMain box-shadow">


    <div class="row containerHeader">
        <h4 class="col-12">Lagerbeholdning</h4>

    </div>

    <!--header columns-->
    <div class="row containerSubHeader border-top border-bottom border-white border-1 dynamic-Font-Size-10">

        <div class="col-md-3 col-6 p-1 border-end border-white border-1">Beskrivelse</div>
        <div class="col-md-3 col-6 p-1 border-end border-white border-1">Antal</div>
        <div class="col-md-3 col-6 p-1 border-end border-white border-1">Lagerstatus</div>

    </div>


    <!--input from inventory-->
    @for (int i = 0; i < Model.InventoryBooking.Count; i++)
    {
        <div class="row containerBody alternating_row dynamic-Font-Size-10">

            <div class=" col-md-3 col-4 p-1 border-end border-white border-1">@Model.InventoryBooking[i].ModelName</div>
            <div class=" col-md-3 col-4 p-1 border-end border-white border-1">@Model.InventoryBooking[i].InStock[0]</div>

            @if (Model.InventoryBooking[i].InStock[0] > 0)
            {
                <div class=" col-md-3 col-4 p-1 border-end border-white border-1 text-green">På Lager</div>
            }
            else
            {
                <div class=" col-md-3 col-4 p-1 border-end border-white border-1 text-red">ikke På Lager</div>
            }

        </div>

    }



    <!--container footer-->
    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>

</div>


