@model HUS_project.Models.ViewModels.CreateBookingModel
@{
    ViewData["Title"] = "MinKurv";
}

<script src="~/js/Inventory.js"></script>

<form action="InventorySearch" method="post" id="searchform">

    <div class="row  center box-shadow blue-oyster-bar">

        <div class="col-lg-1"></div>

        @*Borrow from this date*@
        <div class="col-lg-2 col-md-3 col-sm-6 g-3 ">

            <div class="form-floating">

                <input placeholder="Vælg Dato" type="date" onfocus="ClearTimeout()" onfocusout="SetTimeout()" id="floatinSelectGrid" class="form-select" asp-for="@Model.SearchModel.RentDate">
                <label for="floatinSelectGrid">start dato:</label>

            </div>

        </div>

        @*Borrow until this date*@
        <div class="col-lg-2 col-md-3 col-sm-6 g-3 ">

            <div class="form-floating">
                <input placeholder="Vælg Dato" type="date" onfocus="ClearTimeout()" id="floatinSelectGrid" onfocusout="SetTimeout()" class="form-select" asp-for="@Model.SearchModel.ReturnDate">
                <label for="floatinSelectGrid">slut dato:</label>
            </div>

        </div>

        <!--select categories-->
        <div class="col-lg-1 col-md-3 col-sm-6 g-3">

            <div class="form-floating">
                <select class="form-select" id="floatinSelectGrid" asp-for="@Model.SearchModel.Category" onchange="this.form.submit()">
                    <option></option>
                    @foreach (var item in Model.CategoryDropdown)
                    {
                        <option>@item</option>
                    }

                </select>
                <label for="floatinSelectGrid">kategori</label>
            </div>

        </div>

        <!--select location-->
        <div class="col-lg-1 col-md-3 col-sm-6 g-3">

            <div class="form-floating">
                <select class="form-select" id="floatinSelectGrid" asp-for="@Model.Location" onchange="SendLocationToForm()" required>
                    <option hidden></option>
                    @foreach (var item in Model.LocationDropdown)
                    {
                        <option>@item</option>
                    }

                </select>
                <label for="floatinSelectGrid">Leveringssted</label>
            </div>

        </div>

        <!--searchBar-->
        <div class="col-lg-4 col-md-6 col-sm-12 g-3">

            <div class="form-floating mb-sm-1">
                <input type="search" class="form-control" asp-for="@Model.SearchModel.SearchName" id="searchbar" onkeyup="SetTimeout()" onkeydown="ClearTimeout()" placeholder="name@example.com">
                <label for="searchbar">søg efter enhed:</label>
            </div>

        </div>

        <div class="col-lg-1 d-block d-none"></div>

        <!--To basket button-->
        <div class="col-lg-12 col-md-6 col-sm-12 p-3 g-md-2">

            <button type="submit" class="btn btn-primary btn-blue btn-sm disabled" asp-action="MyBasket">Kurv (@Model.BasketCount)</button>

        </div>





        <!--model binding of itemlines-->
        @for (int n = 0; n < Model.ItemLines.Count; n++)
        {
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelID" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelName" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.ModelDescription" />
            <input type="hidden" asp-for="@Model.ItemLines[n].Model.Category.Category" />
            <input type="hidden" id=@("searchOutput_" + n) asp-for="@Model.ItemLines[n].Quantity" />

        }

        <input type="hidden" id="basketHidden" asp-for="@Model.BasketCount" />
        <input type="hidden" id="modelNameHidden" asp-for="@Model.ModelName" />
        <input type="hidden" id="modelIdHidden" asp-for="@Model.ModelID" />

    </div>

</form>

<!--container listing search results-->
<div class="container containerMain box-shadow">
    <form asp-action="AddToBasket" method="post">

        <div class="row containerHeader">
            <h4 class="col-10">Kurv</h4>

            <!--create order-->
            <div class="col-2">
                @if (Model.ItemLines.Count > 0)
                {
                    <button type="submit" class=" btn-primary btn Button-Size btn-sm" asp-action="CreateBooking">Bestil</button>

                }
                else
                {
                    <button type="submit" class=" btn-primary btn Button-Size btn-sm" disabled>Bestil</button>

                }

            </div>
        </div>

        <div class="row containerSubHeader border-top border-bottom border-white border-1 dynamic-Font-Size-10">

            <div class="col-md-3 col-6 p-1 border-end border-white border-1">model navn</div>


            <div class="col-md-1 col-4 p-1 border-white border-1"></div>

        </div>

        @if (ViewBag.bookingSuccess != null)
        {
            <div class="row">
                <div class="col-12 text-green center ">@ViewBag.bookingSuccess&nbsp;</div>

            </div>
        }



        <input type="hidden" id="location" asp-for="@Model.Location" />
        <input type="hidden" id="notes" asp-for="@Model.BookingOrder.Notes" required />


        @for (int i = 0; i < Model.ItemLines.Count; i++)
        {
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelID" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelName" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.ModelDescription" />
            <input type="hidden" asp-for="@Model.ItemLines[i].Model.Category.Category" />
            <input type="hidden" id="test" asp-for="@Model.ItemLines[i].Quantity" />
            <input type="hidden" id=@("stock_" + i) asp-for="@Model.InventoryBooking[0].InStock[0]" />


            <div class="row containerBody alternating_row dynamic-Font-Size-10">

                <div class=" col-md-3 col-6 p-1 border-end border-white border-1">@Model.ItemLines[i].Model.ModelName</div>



                <div class="col-md-2 col-2 p-1 border-white border-1 center">

                    <div class="row">

                        <div class="col-6">
                            <div class="input-group input-group-sm mb-2">

                                <input type="number" class="form-control" name="input" id=@("input_"+i) asp-for="@Model.ItemLines[i].Quantity" onchange="changeQuantity()" min="0" max="@Model.InventoryBooking[0].InStock[0]" />

                            </div>
                        </div>

                        <!--delete item-->
                        <div class="col-6">

                            <button class="btn btn-primary btn-sm btn-blue" formaction="DeleteItemLine" type="submit" name="submitData" id=@("basket_"+i) value="@i">Slet</button>

                        </div>

                    </div>

                  
                    <div class="row center">

                       

                        <!--create message to show quantity is larger than stock-->
                        @if (ViewBag.quantityError != null && Model.InventoryBooking[i].ModelID == ViewBag.id)
                        {
                            <div class="col-12 text-red">@ViewBag.quantityError&nbsp;</div>
                        }

                    </div>



                </div>

            </div>

        }

        <div class="row">

            <div class="col-4">

            </div>

            <div class="col-4 p-1">

                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Skriv en bemærkning til ordren" asp-for="@Model.Notes"></textarea>
            </div>

            <div class="col-4">

            </div>



        </div>

        <div class="row containerFooter">
            <h4>&nbsp;</h4>
        </div>
    </form>
</div>
